{% extends 'nextify/base.html' %} {% block main_content %}
    {% if account_item %}
<style>
    .card {
    position: relative;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    background-color: #fff;
    padding: auto;
}

.card--responsive {
    overflow: auto
}
.u-p-medium {
    padding: 1.875rem !important
}
</style>
  <input type="hidden" value="{{ current_shops }}" id="current_shops"/>
    {% endif %}
    <div class="container ">
        <div class="row">
            <div class="col-lg-12" style="padding: 1.875rem;">
                <div class="card u-p-medium">
                    <div class="row u-justify-center">
                        <div class="col-lg-6" style="margin: auto;">
                            <div class="u-mt-large u-text-center">
                                <h2 class="u-mb-xsmall">{% if account_item %}
                                     {{ gettext("Cap_nhat") }}{% else %} {{ gettext("Them_moi_tai_khoan") }} {% endif %}
                                </h2>
                                <p class="u-text-mute u-mb-large"></p>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error | safe }}
                                </div>
                            {% endif %} {% if message %}
                            <div class="alert alert-success">
                                {{ message | safe }}
                            </div>
                        {% endif %}
                            <form method="POST" action="/account/{% if  account_item %}{{ account_item._id }}{% else%}add{% endif %}"
                            id="update_acc_{{ account_item._id }}">
                             <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                {% if account_item %}
                                <input type="hidden" value="{{ account_item._id }}" name="account_id"/>
                            {% endif %}
                                <div class="form-group">
                                    <label class="" for="name">{{ gettext("So_dien_thoai:") }}</label>
                                    <input type="tel" class="form-control"
                                           id="phone" name="phone"
                                           placeholder='{{ gettext("So_dien_thoai") }}' value="{% if account_item %}{{ account_item.phone }}{% endif %}"/>
                                </div>
                                <div class="form-group">
                                    <label class="" for="name">Email:</label>
                                    <input type="text" class="form-control"
                                           id="email" name="email"
                                           placeholder="Email" value="{% if account_item %}{{ account_item.email }}{% endif %}"/>
                                </div>
                                      <div class="form-group">
                                        <label class=""
                                               for="name">{{ gettext("Mat_khau:") }}</label>
                                        <input type="text" class="form-control"
                                               id="password" name="password"
                                               placeholder='{{ gettext("Mat_khau") }}'/>
                                    </div>

                                    <div class="form-group">
                                        <label class="" for="name">{{ gettext("Quyen:") }}</label>
                                        {% if account_item %}<input
                                                type="hidden" class="form-control"
                                                value="{{ account_item.roles }}"
                                                id="ex_role"/>{% endif %}
                                        <select class="custom-select control-container" name="roles"
                                                id="roles">
                                            {% for role in roles %}
                                                 <option value="{{ role.value }}">{{ role.title }}</option>
    
                                            {% endfor %}
    
                                        </select>
                                    </div>
                                <div class="form-group">
                                    <label class=""
                                           for="name">{{ gettext("Dia_diem:") }}</label>
                                    <select class="c-select c-select--multiple"
                                            style="width: 100%;"
                                            id="locations_selects"
                                            multiple="multiple">
                                        {% for shop_mer in shop_in_mer %}
                                            <option value="{{ shop_mer._id }}">{{ shop_mer.name }}</option>
                                        {% endfor %}

                                    </select>
                                    <input type="hidden" id="locations"
                                           name="locations"/>
                                </div>
                                <!-- ----------------- -->
                                {% if status == "True" %}
                                <div class="u-mt-large u-text-center">
                                        <h2>{{ gettext("Tong_dai_Vcall:") }}</h2>
                                        <p class="u-text-mute u-mb-large"></p>
                                    </div>
                                
                                <div class="form-group">
                                    <label class="" for="name">{{ gettext("So_may_nhanh") }}:</label>                                        
                                    <input type="tel" class="form-control"
                                           id="phone_extension" name="phone_extension"
                                           placeholder='{{ gettext("So_may_nhanh") }}' value=""/>
                                </div>
                                <div class="form-group">
                                    <label class="" for="name">User_Vcall :</label>
                                    <input type="tel" class="form-control"
                                           id="user_vcall" name="user_vcall"
                                           placeholder='{{ gettext("Ten_dang_nhap_Vcall") }}' value=""/>
                                </div>
                                <div class="form-group">
                                    <label class="" for="name">Password_Vcall :</label>
                                    <input type="password" class="form-control"
                                           id="password_vcall" name="password_vcall"
                                           placeholder="" value=""/>
                                </div>
                                <div class="form-group">
                                    <label class="" for="name">{{ gettext("So_du_tai_khoan_tong_dai:") }}</label>
                                    <input type="tel" class="form-control" readonly="true"
                                           id="balance" name="balance"
                                           placeholder="" value="1000000"/>
                                </div>
                                {% endif %}
                            </form>
                        <!-- ----------------------- -->
                        <div class="u-justify-center">

                            {% if account_item and user_login and user_login.roles in ['1', '3'] %}
                                <a id='remove_acc_{{ account_item._id }}' class="btn btn-primary" style="border: none; background-color: #de3939;">{{ gettext("Xoa_tai_khoan") }}</a>

                            {% endif %}
                            <button type="button" id="submit_form"
                                    class="btn btn-primary">{{ gettext("Luu_thong_tin") }}
                            </button>
                            {% if status == "True" %}
                            <a data-toggle="modal" data-target="#add_money_vcall" class="text-decoration-none">
                                {{ gettext("Nap_Tien_cho_tai_khoan_tong_dai") }}
                            </a>
                            {% endif %}  
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
    <div class="modal fade"
    id="add_money_vcall"
    tabindex="-1" role="dialog"
    aria-labelledby="userDetailModal"
    data-backdrop="static">
   <div class="modal-dialog"
        role="document">
       <div class="modal-content">
           <a class="c-modal__close c-modal__close--absolute u-text-mute u-opacity-medium"
              data-dismiss="modal"
              aria-label="Close">
               <i class="fa fa-close"></i>
           </a>
           <form class="form-horizontal m-t-xs"
                 action=""
                 id="add_device_fr"
                 enctype="multipart/form-data" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
               <div class="modal-body">

                   <div class="row u-justify-center">
                       <div class="col-md-7">
                           <div class="u-mt-medium u-text-center"></div>

                                <h2>{{ gettext("Nap_tien_tong_dai_Vcall:") }}</h2>

                           <div class="form-group">
                               <label class="">{{ gettext("So_tien:") }}</label>
                               <input type="text" name="money" value="" placeholder="15000000"/>
                           </div>
                           <div class="form-group">
                               <label class="">{{ gettext("So_tai_khoan_thanh_toan:") }}</label>
                               <input type="text" name="account_number" value="" placeholder="A641-CA5G7-T8U4-I9U4"/>   

                           </div>
                           <div class="form-group">
                                <label class="">{{ gettext("Mat_khau:") }}</label>
                                <input type="password_vcall" name="password_vcall" value="" />    

                        </div>
                   </div>
               </div>
               <div class="c-modal__footer u-justify-center">
                <a class="c-btn c-btn--green" id="add_money_vcall" type="submit">
                    {{ gettext("Nap_tien") }}
                </a>
               </div>
           </form>
           
       </div>
   </div>
</div>

</div>

{% endblock %}

{% block js %}
    <script nonce="{{ csp_nonce() }}">
        $(document).ready(function () {
            $("#submit_form").click(function () {
            $.ajax({
                    type: 'post',
                    url: $("#update_acc_{{ account_item._id }}").attr('action'),
                    data: $("#update_acc_{{ account_item._id }}").serialize(),
                    success: function (response) {
                        var returnedData = JSON.parse(response);
                        if ('error' in returnedData) {

                            swal(returnedData['error'], " ", "error");
                        } else {
                            swal('{{ gettext("Thao_tac_thanh_cong") }}', '', 'success');
                            location.reload();

                        }

                    }}); 
                })

                $('#remove_acc_{{ account_item._id }}').click(function () {
                    var url = "/account/{{ account_item._id }}/remove";
                    Swal.fire({
                            title: '{{ gettext("Ban_co_chac_chan_muon_xoa_tai_khoan_khong?") }}',
                                    
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
focusCancel: true,
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Có!',
                            cancelButtonText: '{{ gettext("Khong!")}}'
                    }).then((result) => {
                    if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        success: function () {
                            swal('{{ gettext("thao_tac_thanh_cong") }}', " ", "success");
                            location.href = '/accounts'
                        }
                    });
        
        
                }})})
            
            if ($("#ex_role").length > 0) {

                $("#roles").val($("#ex_role").val()).change();

            }
            $('textarea').each(function () {
                    $(this).val($(this).val().trim());
                }
            );
            $('input').each(function () {
                    $(this).val($(this).val().trim());
                }
            );
              $('#locations_selects').select2({
        dropdownAutoWidth: true
    });
            {% if account_item %}
               var data_soure_shops = JSON.parse($("#current_shops").val().replace(/\'/g, '"'));
            $('#locations_selects').select2().val(data_soure_shops)
                .trigger("change");
            $('#locations').val($('#locations_selects').val()
                        .toString());
                        
            {% endif %}
            $('#locations_selects').on("change", function (e) {
                if ($('#locations_selects').val().length > 0) {
                    $('#locations').val($('#locations_selects').val()
                        .toString());
                } else {
                    $('#locations').val("");
                }
            });

        });

    </script>

{% endblock %}
