
    <div class="list-group list-group-flush list-group-activity my-n3">
        {% for log in logs %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                            <div class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col ml-n2">


                        <!-- Text -->
                        <p class="small text-gray-700 mb-0">
                            {{ gettext("Ghe_tham") }} <strong>{{ log.shop_name }}</strong> {{ log.time_ago }}
                        </p>

                        <!-- Time -->
                        <small class="text-muted">
                            {{ gettext("Vao_luc") }} <strong>{{ log.time_hour }}</strong> {{ gettext("ngay") }}
                            <strong>{{ log.time_day }}</strong>
                        </small>

                    </div>
                </div> <!-- / .row -->
            </div>
        {% endfor %}
    </div>