{% extends 'nextify/base.html' %}
{% block main_content %}

<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-end">
                <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                        {{ gettext("Ung_dung") }}
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        MAILCHIMP
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="header-title">
                        {{ gettext("Cau_hinh") }}
                    </h1>
                </div>
                <div class="card-body">
                    {% if shop_select._id %}
                    <form id="ipos_connect_{{ shop_select._id }}" method="POST"
                        action="/apps/mailchimp/{{ shop_select._id }}">
                        {% else %}
                        <form id="ipos_connect" method="post" action="">
                            {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

                            <!-- Email address -->

                            <div class="form-group">

                                <label class="c-field__label">MailChimp User: (<span>
                                        <font color="red">*</font>
                                    </span> {{ gettext("bat_buoc") }})</label>
                                <input type="text" class="form-control"
                                    value="{% if check_app and check_app.setting and check_app.setting.mailchimp_user|length > 0 %}{{ check_app.setting.mailchimp_user}}{% endif %}"
                                    name="mailchimp_user" id="mailchimp_user" />
                            </div>
                            <div class="form-group">

                                <select id="redirect_shop_select" class="browser-default custom-select">
                                    {% if shop_select._id %}
                                    <option disabled selected>{{ shop_select.name }}</option>
                                    {% else %}
                                    <option disabled selected>{{ gettext("Chon_dia_diem") }}</option>
                                    {% endif %}
                                    {% for shop in shop_in_mer %}
                                    <option value="{{ shop._id }}">{{ shop.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">

                                <label class="c-field__label">ID List: </label>
                                <input type="text" class="form-control"
                                    value="{% if check_app and check_app.setting and check_app.setting.id_list|length > 0 %}{{ check_app.setting.id_list}}{% endif %}"
                                    name="id_list" id="id_list" />
                            </div>
                            <div class="form-group">

                                <!-- Label -->
                                <label class="c-field__label">MailChimp Api Key: (<span>
                                        <font color="red">*</font>
                                    </span> {{ gettext("bat_buoc") }})</label>
                                <input type="text" class="form-control"
                                    value="{% if check_app and check_app.setting and check_app.setting.mailchimp_api_key|length > 0 %}{{ check_app.setting.mailchimp_api_key}}{% endif %}"
                                    name="mailchimp_api_key" id="mailchimp_api_key" />


                            </div>

                        </form>


                </div>
                <div class="card-footer">
                    <div class="col-6" style="float:right">
                        <button class="btn btn-lg btn-block btn-primary" {% if shop_select._id %}
                            id="save_info_API_{{ shop_select._id }}" {% else %} id="save_info_API" {% endif %}>
                            {{ gettext("Luu_thong_tin") }}

                        </button>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>


    </div>
</div>
</div> <!-- / .container -->
{% if shop_select._id %}
<script nonce="{{ csp_nonce() }}">

    $(document).ready(function () {

        $("#redirect_shop_select").select2();
        $('#redirect_shop_select').on('change.select2', function (e) {

            var shop_id = $(this).val();
            var url = "/apps/mailchimp/" + shop_id;
            location.replace(url);
        });

        $("#save_info_API_{{ shop_select._id }}").click(function () {
            var mailchimp_user = $("#mailchimp_user").val()
            var mailchimp_api_key = $("#mailchimp_api_key").val()
            if (mailchimp_user.length == 0) {
                swal('{{ gettext("MailChimp_User_khong_duoc_de_trong") }}', '', 'error');
                return false
            }
            if (mailchimp_api_key.length == 0) {
                swal('{{ gettext("MailChimp_Api_Key_khong_duoc_de_trong") }}', '', 'error');
                return false
            }
            $.ajax({
                url: $("#ipos_connect_{{ shop_select._id }}").attr("action"),
                type: $("#ipos_connect_{{ shop_select._id }}").attr("method"),
                data: $("#ipos_connect_{{ shop_select._id }}").serialize(),
                success: function (response) {
                    var returnedData = JSON.parse(response);
                    if ('error' in returnedData) {
                        swal(returnedData['error'], " ", "error");
                        return false;
                    } else {
                        swal('{{ gettext("Thao_tac_thanh_cong") }}', '', 'success');
                        location.reload();
                    }

                },
                error: function (xhr, desc, err) {
                    swal('{{ gettext("Co_loi_xay_ra,_thu_lai_sau") }}', '', 'error');


                }
            });

            return false;
        })

    });
</script>
{% else %}

<script nonce="{{ csp_nonce() }}">
    $(document).ready(function () {
        window.onload = function () {
            var input = document.getElementById("mailchimp_user").focus();
        }

        $("#redirect_shop_select").select2();
        $('#redirect_shop_select').on('change.select2', function (e) {

            var shop_id = $(this).val();
            var url = "/apps/mailchimp/" + shop_id;
            location.replace(url);

        })

        $("#save_info_API").click(function () {
            var mailchimp_user = $("#mailchimp_user").val()
            var mailchimp_api_key = $("#mailchimp_api_key").val()
            if (mailchimp_user.length == 0) {
                swal('{{ gettext("MailChimp_User_khong_duoc_de_trong") }}', " ", "error");
                return false
            }
            if (mailchimp_api_key.length == 0) {
                swal('{{ gettext("MailChimp_Api_Key_khong_duoc_de_trong") }}', " ", "error");
                return false
            }
            $.ajax({
                url: $("#ipos_connect").attr("action"),
                type: $("#ipos_connect").attr("method"),
                data: $("#ipos_connect").serialize(),
                success: function (response) {
                    var returnedData = JSON.parse(response);
                    if ('error' in returnedData) {
                        swal(returnedData['error'], " ", "error");
                        return false;
                    } else {
                        swal('{{ gettext("Thao_tac_thanh_cong") }}', '', 'success');
                        location.reload();
                    }

                },
                error: function (xhr, desc, err) {
                    swal('{{ gettext("Co_loi_xay_ra,_thu_lai_sau") }}', '', 'error');


                }
            });

            return false;
        })

    });
</script>
{% endif %}

{% endblock %}
{% block js %}
{% endblock %}