{% extends 'nextify/base.html' %}
{% block main_content %}

<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-end">
                <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                        {{ gettext("Ung_dung") }}
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        ABOT
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-4 offset-xl-1 offset-md-1 order-md-2 mb-5 mb-md-0">

            <!-- Image -->
            <div class="text-center">
                <img src="/static/nextify/img/happiness.svg" alt="..." class="img-fluid">
            </div>

        </div>

        <div class="col-12 col-md-5 col-xl-6 order-md-1 my-5">
            <div class="card u-p-medium">
                <div class="row u-justify-center" style="margin-bottom: 20px;">
                    <h1 class="header-title ml-3">
                        {{ gettext("Cau_hinh") }}
                    </h1>
                </div>
                <hr>
                <div class="row u-justify-center">
                    <div class="col-12">
                        <!-- Heading -->

                        <!-- Form -->
                        <form id="ipos_connect" method="POST" action="/apps/abot">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

                            <!-- Email address -->

                            <div class="form-group">
                                <label class="c-field__label">Tên tài khoản:</label>
                                <input type="text" class="form-control" autofocus name="user" id="user" {% if user
                                    %} value="{{ user }}" {% endif %} />

                            </div>

                            <div class="form-group">
                                <label class="c-field__label">Mật khẩu:</label>
                                <input type="text" class="form-control" name="password" id="password" {% if password
                                    %} value="{{ password }}" {% endif %} />

                            </div>

                            <div class="form-group">
                                <label class="c-field__label">Sub Domain:</label>
                                <input type="text" class="form-control" name="sub_domain" id="sub_domain" {% if
                                    sub_domain %} value="{{ sub_domain }}" {% endif %} />

                            </div>

                            <div class="form-group row">
                                <div class="col-xl-3 col-md-3 text-middle">
                                    <span>{{ gettext("Kich_hoat") }}:</span>
                                </div>
                                <div class="col-auto">
                                    <div class="form-group">
                                        <div class="custom-control custom-switch
                                                  {% if app and app.status|lower==" true" %}is-active{% endif %}">
                                            <input type="checkbox" class="custom-control-input" id="status"
                                                name="status" {% if status=="True" %}checked="checked" {% endif %}>
                                            <label class="custom-control-label" for="status"></label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>

                        <div class="col-6" style="float:right">
                            <button class="btn btn-lg btn-block btn-primary" {% if shop_select and shop_select._id %}
                                id="save_info_API_{{ shop_select._id }}" {% else %} id="save_info_API" {% endif %}>
                                {{ gettext("Luu") }}

                            </button>
                        </div>

                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
</div> <!-- / .container -->
<script nonce="{{ csp_nonce() }}">

    $(document).ready(function () {


        $("#save_info_API").click(function () {
            var sub_domain = $("#sub_domain").val()
            if (sub_domain.length == 0) {
                swal('{{ gettext("Chua_nhap_sub_domain") }}', '', 'error')
            }
            var password = $("#password").val()
            if (password.length == 0) {
                swal('{{ gettext("Chua_nhap_password") }}', '', 'error')
            }
            var user = $("#user").val()
            if (user.length == 0) {
                swal('{{ gettext("Chua_nhap_user") }}', '', 'error')
            }
            else {
                $.ajax({
                    url: $("#ipos_connect").attr("action"),
                    type: $("#ipos_connect").attr("method"),
                    data: $("#ipos_connect").serialize(),
                    success: function (response) {
                        var returnedData = JSON.parse(response);
                        swal('{{ gettext("Thao_tac_thanh_cong") }}', " ", "success");
                        location.reload();

                    },
                    error: function (xhr, desc, err) {
                        swal('{{ gettext("Co_loi_xay_ra,_thu_lai_sau") }}', " ", "error");



                    }
                });
            }
        })

    });
</script>

{% endblock %}
{% block js %}
{% endblock %}