<!DOCTYPE>
<html html lang="en-us">
<body>
<h3>THÔNG TIN CHI TIẾT KHÁCH HÀNG</h3>
<h3>Tên doanh nghiệp: {{ name_company }}</h3>
<h3>Địa chỉ: {{ address }}</h3>
<h3>Ngành nghề kinh doanh: {{ business }}</h3>
<h3>Số lượng cửa hàng: {{ number_res }}</h3>
<h3>Website/Fanpage: {{ website }}</h3>
<h3>Người liên hệ: {{ user_contact }}</h3>
<h3>Chức vụ: {{ professional_titles }}</h3>
<h3>Email: {{ email_contact }}</h3>
<h3>SĐT: {{ phone_contact }}</h3>
<h3>Thời gian: {{ time_create }}</h3>
</body>
</html>