<meta name="keywords" content="Wi-Fi, Wifi, CRM, Wi-Fi Marketing, Wi-Fi CRM"/>
<meta name="description" content="Better eXperience for Wi-Fi"/>
<meta name="subject" content="Wi-Fi CRM">
<meta name="copyright" content="VHT Telecom">
<meta name="language" content="Eng">
<meta name="topic" content="Wi-Fi, Wifi, CRM, Wi-Fi CRM">
<meta name="author" content="CRMX, support@crmx.com.vn">
<meta name="reply-to" content="support@crmx.com.vn">
<meta name="owner" content="VHT Telecom">
<meta name="url" content="https://www.crmx.com.vn">
<meta name="identifier-URL" content="https://www.crmx.com.vn"/>
<meta name="directory" content="submission">
<meta name="category" content="Wi-Fi, Wifi, CRM, Wi-Fi CRM">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<meta name="og:title" content="CRMX"/>
<meta name="og:site_name" content="CRMX"/>
<meta name="og:description" content="Better eXperience for Wi-Fi"/>

<meta name="fb:page_id" content="278402059711029" />

<meta name="og:email" content="https://www.crmx.com.vn"/>
<meta name="og:phone_number" content="0901773838"/>

<meta name="og:locality" content="Ho Chi Minh"/>
<meta name="og:country-name" content="Vietnam"/>