{% extends 'nextify/base.html' %}
{% block header_page %}{{ shop_select.name }}{% endblock %}
{% block main_content %}

<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-end">
                <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                        {{ gettext("Dia_diem") }}
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        {{ shop_select.name }}
                    </h1>

                </div>
                <div class="col-auto">
                    <!--    {% if 'locations' in request.path %}
                 <a href="#new_location" class="btn btn-primary  mb-2" data-toggle="modal">
                                <i class="fa user-tag"></i> {{ gettext("Them_dia_diem") }}
                            </a>
                {% endif %} -->
                </div>
            </div> <!-- / .row -->
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row u-mb-large" style="margin-top: 50px">
        <div class="col-lg-12">
            <div class="card u-p-medium">

                <form method="POST" action="/locations/{{ shop_select._id }}" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                    <div class="row">
                        <div class="col-lg-6">

                            {% if error %}
                            <div class="alert alert-danger">
                                * {{ error }}</div>
                            {% endif %}
                            {% if message %}
                            <div class="alert alert-success">
                                {{ message }}</div>
                            {% endif %}
                            <input type="hidden" value="{{ merchant._id }}" name="merchant_id" id="merchant_id">

                            <div class="form-group">
                                {% if shop_select.logo %}
                                <img class="c-avatar--small" id="view_logo"
                                    src="//files.nextify.vn/{{ shop_select.logo }}"
                                    style="width :80px">

                                {% endif %}
                                <label  for="logo">Logo <font color="red">*</font></label>
                                <span>{{ gettext("Kich_thuoc_goi_y") }} 720 px × 720 px</span>
                                <input type="file" class="form-control" id="logo" name="logo">
                            </div>
                            <div class="form-group">
                                {% if shop_select.background %}
                                <img class="c-avatar--small" id="view_background"
                                    src="//files.nextify.vn/{{ shop_select.background }}"
                                    style="width: 150px;height: 150px">

                                {% endif %}
                                <label  for="background">{{ gettext("Hinh_nen") }} <font color="red">*</font>
                                    </label>
                                <span>{{ gettext("Kich_thuoc_goi_y") }} 1,280 px × 720 px</span>

                                <input type="file" class="form-control" id="background" name="background">
                            </div>

                            <div class="form-group">
                                <label  for="name">{{ gettext("Ten_cua_hang") }} <font color="red">*</font></label>
                                <input type="text" class="form-control" id="name" name="name"
                                    {% if shop_select.name|string != "None" %} value="{{ shop_select.name }}" {% else %}
                                    value="" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label  for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    {% if shop_select.email|string != "None" %} value="{{ shop_select.email }}"
                                    {% else %} value="" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label  for="facebook-page">Hotline</label>
                                <input type="tel" class="form-control" id="hotline" name="hotline"
                                    {% if shop_select.hotline|string != "None" %} value="{{ shop_select.hotline }}"
                                    {% else %} value="" {% endif %}>
                            </div>

                            <div class="form-group">
                                <label  for="facebook-page">{{ gettext("Dia_chi") }}</label>
                                <input type="text" class="form-control" id="address" name="address"
                                    {% if shop_select.address|string != "None" %}
                                    value="{{ shop_select.address|string }}" {% else %} value="" {% endif %}>
                            </div>


                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label  for="facebook-page">Facebook Page</label>
                                <select class="form-control" style="width: 100%;" id="page_in_merchant" name="page_fb">
                                    
                                    <option value="all">{{ gettext("Chon_trang_Facebook") }}</option>
                                    {% for page_mer in page_in_mer %}
                                    <option value="{{ page_mer.id_page }}" {% if shop_select.id_page == page_mer.id_page %}selected{% endif %}>{{ page_mer.name_page }}
                                    </option>
                                    {% endfor %}
                                  </select>
                            </div>

                            <div class="col-lg-12 u-float-right">
                                <a id="connect_fb" class="c-btn c-btn--info u-float-right">
                                    {{ gettext("Lien_ket_Facebook") }}
                                </a>

                            </div>

                            <div class="form-group">
                                <label  >{{ gettext("Lien_ket_google_maps") }}</label>
                                <input type="text" class="form-control" id="place_id" name="place_id"
                                    placeholder="Nhập place id" {% if shop_select.place_id|string != "None" %} value="{{ shop_select.place_id }}"
                                    {% else %} value="" {% endif %}>
                            </div>

                            <div class="form-group">
                                <label  for="page_id">{{ gettext("Page_ID") }}</label>
                                <input type="text" class="form-control" id="page_id" name="page_id"
                                    value="{% if shop_select.page_id|string != 'None' %}{{ shop_select.page_id }}{% endif %}">
                            </div>
                     
                                <div class="form-group">
                                    <label  for="facebook-page">Website</label>
                                    <input type="text" class="form-control" id="website" name="website"
                                        {% if shop_select.website|string != "None" %} value="{{ shop_select.website }}"
                                        {% else %} value="" {% endif %}>
                                </div>
                            
                            <div class="form-group">
                                <label  for="facebook-page">Tags</label>
                                <select class="form-control form-control-lg custom-select" name="tags" id="tags_selects"
                                    multiple="multiple">
    
                                    {% for tag in tags %}
                                    <option value="{{ tag._id }}">{{ tag.name }}</option>
                                    {% endfor %}
    
                                </select>
    
                                <input type="hidden" id="select_tags_filter" name="real_tags_filter" />
                            <input type="hidden" id="source_tags_filter" name="source_tags_filter" value="{{ filter_tags }}" />
                            </div>

                            <div class="row form-group">


                                <div class="col-md-12">

                                    <label  for="facebook-page">{{ gettext("Toa_do") }}</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="lat" name="lat"
                                        {% if shop_select.address_lat|string != "None" %}
                                        value="{{ shop_select.address_lat }}" {% else %} value="" {% endif %}
                                        placeholder="Lat">

                                </div>
                                <div class="col-md-6">

                                    <input type="text" class="form-control" id="long" name="long"
                                        {% if shop_select.address_long|string != "None" %}
                                        value="{{ shop_select.address_long }}" {% else %} value="" {% endif %}
                                        placeholder="Longitude">
                                </div>

                            </div>
                            {% if dealer_id == "5de0db6306e7eca17bd8e872" %}
                            <div class="form-group">
                                <div class="form-group">
                                    <label  for="facebook-page">{{ gettext("Company_ID_ANVUI") }}</label>
                                    <input type="text" class="form-control" id="company_id_anvui" name="company_id_anvui"
                                        {% if shop_select.company_id_anvui |string != "None" %} value="{{ shop_select.company_id_anvui }}"
                                        {% else %} value="" {% endif %}>
                                </div>
                            </div>
                            {% endif %}
                            <!-- 
                           <div class="form-group">
                                         <label >Zalo OA ID </label>

                                        <input type="text" class="form-control" value="{% if shop_select.zalo_oa_id and  shop_select.zalo_oa_id|length > 0 %}{{shop_select.zalo_oa_id }}{% endif %}"
                                               name="zalo_oa_id"/>
                                    </div>
                     <div class="form-group">
                                           <label >Zalo App ID </label>

                                        <input type="text" class="form-control" value="{% if shop_select.zalo_app_id and  shop_select.zalo_app_id|length > 0 %}{{shop_select.zalo_app_id }}{% endif %}"
                                               name="zalo_app_id"/>
                                    </div>
                  <div class="form-group">
                                           <label >Zalo Accesstoken <i class="fe fe-help-circle"></i>
                                            {% if shop_select.zalo_app_id and  shop_select.zalo_app_id|length > 0 %}
                                              <a href="https://oauth.zaloapp.com/v3/oa/permission?app_id={{shop_select.zalo_app_id }}&redirect_uri=https://api.nextify.vn/zalo_callback" target="_blank"><span class="badge badge-soft-primary ml-1 mt-n1">Lấy Accesstoken</span> </a>
                                               {% endif %}

                                           </label>

                                        <input type="text" class="form-control" value="{% if shop_select.zalo_access_token and  shop_select.zalo_access_token|length > 0 %}{{shop_select.zalo_access_token }}{% endif %}"
                                               name="zalo_access_token"/>
                                    </div>  -->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 u-float-right">
                            <button type="submit" id="new_splash_submit" class="c-btn c-btn--info u-float-right">
                                {{ gettext("Luu_thong_tin") }}
                            </button>

                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
    {#        <div class="row u-mb-large">#}
    {#            <div class="col-lg-12">#}
    {#                <div class="card u-p-medium">#}
    {#                    <div class="u-mt-large u-text-center">#}
    {#                        <h2 class="u-mb-xsmall">{{ gettext("Tich_hop") }} POS</h2>#}
    {#                        <p class="u-text-mute u-mb-large"></p>#}
    {#                    </div>#}
    {#                    <form method="POST" action="/pos_settings/{{ shop_select.get('_id') }}" enctype="multipart/form-data">#}
    {#                        <div class="row">#}
    {#                            <div class="col-lg-6">#}
    {#                                <div class="form-group">#}
    {#                                    <label >POS</label>#}
    {#                                    <input type="hidden" id="current_pos_patner" class="form-control" value="{% if shop_select.pos_patner %}{{ shop_select.pos_patner }}{% endif %}"/>#}
    {#                                    <select style="width 100%;" name="pos_patner" class="c-select" id="pos_patner">#}
    {#                                        <option value="0">Không</option>#}
    {#                                        <option value="easypos">EasyPOS</option>#}
    {#                                        <option value="ipos">IPOS</option>#}
    {#                                    </select>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="row" id="easypos_content">#}
    {#                            <div class="col-lg-6">#}
    {#                                <div class="form-group">#}
    {#                                     <label >POS ID </label>#}
    {#                                    <input type="text" name="pos_id"#}
    {#                                           class="form-control"#}
    {#                                           value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.pos_id %}{{ shop_select.pos_settings.pos_id }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                                <div class="form-group">#}
    {#                                     <label >Server#}
    {#                                         </label>#}
    {#                                    <input type="text" name="server_hq"#}
    {#                                           class="form-control"#}
    {#                                           value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.server_hq %}{{ shop_select.pos_settings.server_hq }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-lg-6">#}
    {#                                <div class="form-group">#}
    {#                                    <label >Database#}
    {#                                    name </label>#}
    {#                                    <input type="text" name="db_hq"#}
    {#                                           class="form-control"#}
    {#                                           value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.db_hq %}{{ shop_select.pos_settings.db_hq }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                                <div class="form-group">#}
    {#                                    <label >User database </label>#}
    {#                                    <input type="text" name="user_hq"#}
    {#                                           class="form-control"#}
    {#                                           value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.user_hq %}{{ shop_select.pos_settings.user_hq }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                                <div class="form-group">#}
    {#                                    <label >Password database </label>#}
    {#                                    <input type="text" name="pass_hq"#}
    {#                                           class="form-control"#}
    {#                                           value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.pass_hq %}{{ shop_select.pos_settings.pass_hq }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {##}
    {#                        <div class="row" id="ipos_content">#}
    {#                            <div class="col-lg-6">#}
    {#                                <div class="form-group">#}
    {#                                     <label >Access Token </label>#}
    {#                                    <input type="text" name="access_token" class="form-control" value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.access_token %}{{ shop_select.pos_settings.access_token }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                                <div class="form-group">#}
    {#                                     <label >Password </label>#}
    {#                                    <input type="text" name="pass_ipos" class="form-control" value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.pass_ipos %}{{ shop_select.pos_settings.pass_ipos }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-lg-6">#}
    {#                                <div class="form-group">#}
    {#                                    <label >POS Parent </label>#}
    {#                                    <input type="text" name="pos_parent" class="form-control" value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.pos_parent %}{{ shop_select.pos_settings.pos_parent }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                                <div class="form-group">#}
    {#                                    <label >POS ID </label>#}
    {#                                    <input type="text" name="pos_id_ipos" class="form-control" value="{% if shop_select.pos_settings %}{% if shop_select.pos_settings.pos_id_ipos %}{{ shop_select.pos_settings.pos_id_ipos }}{% endif %}{% endif %}"/>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {##}
    {#                        <div class="row">#}
    {#                            <div class="col-lg-12 u-float-right">#}
    {#                                <button type="submit" id="new_splash_submit"#}
    {#                                        class="c-btn c-btn--info u-float-right">#}
    {#                                    {{ gettext("Luu_thong_tin") }}#}
    {#                                </button>#}
    {##}
    {#                            </div>#}
    {##}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
</div>
<div class=" modal fade fixed-right" id="new_location" tabindex="-1" role="dialog" aria-labelledby="new_image"
    data-backdrop="static" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical" role="document">
        <div class="modal-content">

            <div class="modal-body" data-toggle="lists" data-lists-values="[&quot;name&quot;]">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title" id="exampleModalCenterTitle">
                                {{ gettext("Them_dia_diem") }}
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>
                <div class="card-body">

                    <form method="POST" action="/create_locations" enctype="multipart/form-data"
                        id="create_locations_form">
                        <input type="hidden" value="{{ merchant._id }}" name="merchant_id" />
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

                        <div class="form-group">
                            <label  for="name">{{ gettext("Ten_dia_diem") }} <font color="red">*</font></label>
                            <input type="text" maxlength="50" class="form-control" id="name" name="name" />
                        </div>
                        <div class="form-group">
                            <label  for="name">{{ gettext("Dia_chi") }} <font color="red">*</font></label>
                            <input type="text" maxlength="50" class="form-control" id="address" name="address" />
                        </div>

                        <div class="form-group">
                            <label  for="logo"> Logo <font color="red">*</font></label>
                            <input type="file" class="form-control" id="up_logo" name="logo">
                        </div>
                        <div class="form-group">
                            <label  for="background">{{ gettext("Hinh_nen") }} <font color="red">*</font></label>

                            <input type="file" class="form-control" id="up_background" name="background">
                        </div>
                        <div class="form-group">
                            <label  for="facebook-page">Link Facebook Page</label>
                            <input type="text" class="form-control" id="facebook-page" name="facebook_page"
                                placeholder="//www.facebook.com/nextify/">
                        </div>
                    </form>
                    <button id="new_location_submit" class="c-btn c-btn--info u-float-right">
                        {{ gettext("Luu_thong_tin") }}
                    </button>
                    <script nonce="{{ csp_nonce() }}">
                        $(document).ready(function () {

                            function readURL(input, input_view) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    var view_id = '#' + input_view;
                                    reader.onload = function (e) {
                                        $(view_id).attr('src', e.target.result);
                                    }

                                    reader.readAsDataURL(input.files[0]);
                                }
                            }
                            function validate(photo) {
                                var file_size = $(photo)[0].files[0].size;
                                var file = $(photo).val();
                                var exts = ['jpg', 'png', 'jpeg'];
                                if (file) {
                                    var get_ext = file.split('.');
                                    get_ext = get_ext.reverse();
                                    if ($.inArray(get_ext[0].toLowerCase(), exts) > -1) {
                                        if (file_size > 3670016) {
                                            return "big_file";
                                        } else {
                                            return true;
                                        }
                                    } else {
                                        return false;
                                    }
                                }

                            }
                            $("#up_logo").change(function () {
                                var validate_photo = validate(this);
                                if (validate_photo == true) {
                                    swal('{{ gettext("Upload_thanh_cong") }}', '', 'success');

                                    readURL(this, 'up_logo');
                                } else {
                                    if (validate_photo == "big_file"){
                                        swal('{{ gettext("File_co_kich_thuoc_qua_lon!") }}', '', 'error');
                                        return false
                                    };
                                    swal('{{ gettext("File_khong_dung_dinh_dang") }}', '', 'error');
                                    $('#up_logo').val('');
                                    ;
                                }
                            })
                            $("#up_background").change(function () {

                                if (validate(this) == true) {
                                    swal('{{ gettext("Upload_thanh_cong") }}', '', 'success');

                                    readURL(this, 'up_background');
                                } else {
                                    swal('{{ gettext("File_khong_dung_dinh_dang") }}', '', 'error');
                                    $('#up_background').val('');
                                }
                            })

                            $("#new_location_submit").click(function () {
                                $("#create_locations_form").submit();

                            });

                        })


                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="{{ shop_select._id }}" id="shop_new_id">
{% endblock %}
{% block js %}
<script nonce="{{ csp_nonce() }}">
    $(document).ready(function () {
        function readURL(input, input_view) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                var view_id = '#' + input_view;
                reader.onload = function (e) {
                    $(view_id).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#connect_fb").click(function () {
            FB.init({
                appId: '611214335939430',
                cookie: true,                     // Enable cookies to allow the server to access the session.
                xfbml: true,                     // Parse social plugins on this webpage.
                version: 'v5.0'           // Use this Graph API version for this call.
            });
            FB.login(function (response) {
                testAPI()
            }, {
                scope: 'public_profile,email,manage_pages,leads_retrieval',
            });

            // };

        });
        (function (d, s, id) {                      // Load the SDK asynchronously
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function testAPI() {// Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        FB.api('/me/permissions', function (response) {
            var results = false;
            for (i = 0; i < 3; i++) {
                if (response.data[i].status != "granted") {
                    swal('{{ gettext("Hay_cap_quyen_cho_ung_dung_cua_chung_toi_de_duoc_phuc_vu_tot_nhat") }}', "", "warning");

                    return false;
                }
            };
            FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
                statusChangeCallback(response);        // Returns the login status.
            });
        },
            {
                scope: 'public_profile,email,manage_pages,leads_retrieval'
            })
    };

    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        var response1 = response;

        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            $.ajax({
                url: '/fb_setting',
                type: 'POST',
                data: {
                    'data': JSON.stringify(response1),
                    'merchant_id': $("#merchant_id").val()
                },
                success: function (response_ajax) {
                    swal('{{ gettext("Dang_nhap_voi_Facebook_thanh_cong") }}', "", "success");
                    location.reload();
                },
                error: function (xhr, desc, err) {
                    swal('{{ gettext("Co_loi_xay_ra,_thu_lai_sau") }}', " ", "error");

                }
            });
        } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this webpage.';
        }
    };

        $('#page_in_merchant').select2();
        $('#page_in_merchant').on('change.select2', function (e) {
            var id_page = $(this).val();
            var shop_id = $('#shop_new_id').val();
        });

        function validate(photo) {
            var file_size = $(photo)[0].files[0].size;
            var file = $(photo).val();
            var exts = ['jpg', 'png', 'jpeg'];
            if (file) {
                var get_ext = file.split('.');
                get_ext = get_ext.reverse();
                if ($.inArray(get_ext[0].toLowerCase(), exts) > -1) {
                    if (file_size > 3670016) {
                        return "big_file";
                    } else {
                        return true;
                    }
                } else {
                    return false;
                }
            }

        }
        $("#logo").change(function () {
            var validate_photo = validate(this);
            if (validate_photo == true) {
                swal('{{ gettext("Chon_File_thanh_cong") }}', '', 'success');
                $('#view_logo').show();
                readURL(this, 'view_logo');
            } else {
                if (validate_photo == "big_file"){
                    swal('{{ gettext("File_co_kich_thuoc_qua_lon!") }}', '', 'error');
                    return false
                };
                swal('{{ gettext("File_khong_dung_dinh_dang") }}', '', 'error');
                $('#logo').val('');
                $('#view_logo').hide();
            }
        })
        $("#background").change(function () {
            if (validate(this) == true) {
                swal('{{ gettext("Chon_File_thanh_cong") }}', '', 'success');
                $('#view_background').show();
                readURL(this, 'view_background');
            } else {
                swal('{{ gettext("File_khong_dung_dinh_dang") }}', '', 'error');
                $('#background').val('');
                $('#view_background').hide();
            }
        })

        $('#pos_patner').select2({
            dropdownAutoWidth: true
        });

        // $("#new_location_submit").click(function () {
        //  $("#create_locations_form").submit();

        // });

        if ($("#current_pos_patner").length > 0) {
            $('#pos_patner').select2().val($("#current_pos_patner").val()).trigger("change");

            if ($('#pos_patner').val() == 'easypos') {
                $("#easypos_content").show();
                $("#ipos_content").hide();
            }
            else if ($('#pos_patner').val() == 'ipos') {
                $("#ipos_content").show();
                $("#easypos_content").hide();
            }
            else {
                $("#ipos_content").hide();
                $("#easypos_content").hide();
            }
        }

        $("#pos_patner").change(function () {
            if ($('#pos_patner').val() == 'easypos') {
                $("#easypos_content").show();
            } else {
                $("#easypos_content").hide();
            }

            if ($('#pos_patner').val() == 'ipos') {
                $("#ipos_content").show();
            } else {
                $("#ipos_content").hide();
            }
        });

        $('#tags_selects').select2({
            dropdownAutoWidth: true
        });
    
        $('#tags_selects').on("change", function (e) {
            if ($('#tags_selects').val()) {
                $('#select_tags_filter').val($('#tags_selects').val().toString());
            } else {
                $('#select_tags_filter').val("");
            }
        });

    })
</script>

{% endblock %}