<meta name="keywords" content="Wi-Fi, Wifi, CRM, Wi-Fi Marketing, Wi-Fi CRM"/>
<meta name="description" content="The Next Generation of Loyalty"/>
<meta name="subject" content="Wi-Fi CRM">
<meta name="copyright" content="NEXTIFY">
<meta name="language" content="Eng">
<meta name="topic" content="Wi-Fi, Wifi, CRM, Wi-Fi CRM">
<meta name="author" content="NEXTIFY, tung@nextify.vn">
<meta name="reply-to" content="tung@nextify.vn">
<meta name="owner" content="NEXTIFY">
<meta name="url" content="https://nextify.vn">
<meta name="identifier-URL" content="https://nextify.vn"/>
<meta name="directory" content="submission">
<meta name="category" content="Wi-Fi, Wifi, CRM, Wi-Fi CRM">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<meta name="og:title" content="NEXTIFY"/>
<meta name="og:site_name" content="NEXTIFY"/>
<meta name="og:description" content="The Next Generation of Loyalty"/>

<meta name="fb:page_id" content="1929006573784334" />

<meta name="og:email" content="https://nextify.vn"/>
<meta name="og:phone_number" content="02473010299"/>

<meta name="og:locality" content="Ha Noi"/>
<meta name="og:country-name" content="Vietnam"/>