{% extends 'nextify/base.html' %}
{% block header_page %}Báo cáo chi tiết

{% endblock %}

{% block main_content %}
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <div class="header">
    <div class="container-fluid">
       <div class="header-body">
            <div class="row align-items-end">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Báo cáo
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  {{ shop_select.name }}
                </h1>

              </div>
              <div class="col-auto">
  <select class="form-control"
                        id="shop_in_mer">
                    <option value="all">{{ gettext("Tat_ca_dia_diem") }}</option>
                    {% for shop_mer in shop_in_mer %}
                        <option value="{{ shop_mer._id }}">{{ shop_mer.name }}</option>
                    {% endfor %}

                </select>
              </div>
            </div> <!-- / .row -->
          </div>
    </div>

    </div>


       <div class="container-fluid">
        <div class="row" style="text-align: right;"
>

            <div class="col-md-4 mb-2">
                <div id="reportrange" style="background: #fff;cursor: pointer;padding: 10px 10px;border: 1px solid #ccc;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span>4/3/2019 - 11/3/2019</span> <i class="fa fa-caret-down"></i>
                </div>

            </div>
            <div class="col-auto">

                  <a class="btn btn-primary mb-2" href="#" id="view_report" style="padding: 10px 10px;">{{ gettext("Xem") }}</a>
            </div>



        </div>
        <div class="row">
            <div class="col-12">
                <div class="c-graph-card">
                    <canvas id="visit_group" height="80"></canvas>
                    <input type="hidden" id="visit_by_date" value="{{ visit_by_date }}"/>
                </div>

            </div>

        </div>

        <div class="card">
           <div class="card-body">

        <div class="row">
            <div class="col-xl-4">

                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">{{ gettext("Tong_khach_hang") }}</h3>
                        <p class="c-graph-card__date">{{ date_from }} {{ gettext("den") }} {{ date_to }}</p>
                        <h4 class="c-graph-card__number">{{ total_customers }}</h4>
                        <p class="c-graph-card__status">{{ gettext("Trung_binh") }} <b style="color: #f57a33; font-size: 18px">{{ customers_avg }}</b> {{ gettext("khach/ngay") }}</p>
                           <p class="c-graph-card__status">{% if customers_count_percent < 0 %} <span class="u-color-danger">{{ customers_count_percent }}%</span>  {% else %} <span class="u-color-success">+{{ customers_count_percent }}%</span>  {% endif %}so vs {{ date_from_prev }} {{ gettext("den") }} {{ date_to_prev }}</p>

                    </div>

                    <div class="c-graph-card__chart">
                        <div class="chartjs-size-monitor"
                             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <canvas id="js-chart-payout" width="730" height="180" class="chartjs-render-monitor"
                                style="display: block; height: 90px; width: 365px;"></canvas>
                    </div>

            </div>

            <div class="col-xl-4">

                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">{{ gettext("Khach_hang_moi") }}</h3>
                         <p class="c-graph-card__date">{{ date_from }} {{ gettext("den") }} {{ date_to }}</p>
                        <h4 class="c-graph-card__number">{{ new_customers }}</h4>
                        <p class="c-graph-card__status">{{ gettext("Trung_binh") }} <b style="color: #f57a33; font-size: 18px">{{ new_customers_avg }}</b> {{ gettext("khach/ngay") }}</p>
                        <p class="c-graph-card__status">{% if new_customers_percent < 0 %} <span class="u-color-danger">{{ new_customers_percent }}%</span>  {% else %} <span class="u-color-success">+{{ new_customers_percent }}%</span>  {% endif %}so vs {{ date_from_prev }} {{ gettext("den") }} {{ date_to_prev }}</p>

                    </div>

                    <div class="c-graph-card__chart">
                        <div class="chartjs-size-monitor"
                             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <canvas id="js-chart-earnings" width="730" height="180" class="chartjs-render-monitor"
                                style="display: block; height: 90px; width: 365px;"></canvas>
                    </div>

            </div>
            <div class="col-xl-4">

                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">{{ gettext("Tong_so_luot_den") }}</h3>
                        <p class="c-graph-card__date">{{ date_from }} {{ gettext("den") }} {{ date_to }}</p>
                        <h4 class="c-graph-card__number">{{ total_visit }}</h4>
                        <p class="c-graph-card__status">{{ gettext("Trung_binh") }} <b style="color: #f57a33; font-size: 18px">{{ visit_avg }}</b> {{ gettext("luot/ngay") }}</p>
                         <p class="c-graph-card__status">{% if visit_count_percent < 0 %} <span class="u-color-danger">{{ visit_count_percent }}%</span>  {% else %} <span class="u-color-success">+{{ visit_count_percent }}%</span>  {% endif %}so vs {{ date_from_prev }} {{ gettext("den") }} {{ date_to_prev }}</p>

                    </div>

                    <div class="c-graph-card__chart">
                        <div class="chartjs-size-monitor"
                             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <canvas id="js-chart-revenue" width="730" height="180" class="chartjs-render-monitor"
                                style="display: block; height: 90px; width: 365px;"></canvas>
                    </div>

            </div>


        </div>
           </div>
        </div>
       <div class="card">
           <div class="card-body">
                <div class="row">
            <div class="col-xl-4">

                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">{{ gettext("Khach_theo_luot_den") }}</h3>

                        <div class="c-graph-card__chart" style="padding: 0px">
                            <div class="chartjs-size-monitor"
                                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand"
                                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink"
                                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div>
                            <canvas id="customers_by_visit"></canvas>
                            <input type="hidden" value="{{ visit_by_range }}" id="visit_by_range"/>
                        </div>
                    </div>

            </div>
            <div class="col-xl-4">

                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">{{ gettext("Khach_theo_khung_gio") }}</h3>
                       <div class="c-graph-card__chart" style="padding: 0px">
                            <div class="chartjs-size-monitor"
                                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand"
                                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink"
                                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div>
                            <canvas id="visit_by_hour"></canvas>
                            <input type="hidden" value="{{ visit_by_hours }}" id="visit_by_hours"/>
                        </div>
                    </div>

            </div>
            <div class="col-xl-4">

                    <div class="c-graph-card__content">
                        <h3 class="c-graph-card__title">{{ gettext("Loai_thiet_bi") }}</h3>
                        <div class="c-graph-card__chart">
                            <div class="chartjs-size-monitor"
                                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand"
                                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink"
                                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div>
                            <canvas id="devices"></canvas>
                             <input type="hidden" value="{{ visit_by_devices }}" id="visit_by_devices"/>
                        </div>
                </div>

            </div>
        </div>

           </div>
       </div>




    </div>

<input type="hidden" id="start_date" value="{{ date_from }}"/>
<input type="hidden" id="end_date" value="{{ date_to }}"/>
<input type="hidden" id="shop_id_select" value="{{ shop_id_select }}"/>

{% endblock %}
{% block js %}


    <script  nonce="{{ csp_nonce() }}">


        $(document).ready(function () {


            var start_date = moment().startOf('isoWeek');
            var end_date = moment().endOf('isoWeek').add(1, 'days');


            function cb(start, end) {
                $('#reportrange span').html(start.format('D/M/YYYY') + ' - ' + end.format('D/M/YYYY'));
                     $('#start_date').val(start.format('YYYY-M-D'));
                       $('#end_date').val(end.format('YYYY-M-D'));

            }

            $('#reportrange').daterangepicker({
                startDate: start_date,
                endDate: end_date,
                "showDropdowns": true,
                "opens": 'right',
                "showCustomRangeLabel": false,
                "alwaysShowCalendars": false,
                ranges: {
                    'Tuần này': [moment().startOf('isoWeek'), moment().endOf('isoWeek').add(1, 'days')],
                    'Tuần trước': [moment().subtract(1, 'week').startOf('isoWeek'), moment().subtract(1, 'week').endOf('isoWeek').add(1, 'days')],
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            if ($('#start_date').length > 0){

                var start_date = new Date($('#start_date').val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3") );
                var end_date = new Date($('#end_date').val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3") );

                 $('#reportrange span').html(moment(start_date, "YYYY-M-D").format('D/M/YYYY') + ' - ' + moment(end_date, "YYYY-M-D").format('D/M/YYYY'));
                    $('#start_date').val(moment(start_date, "YYYY-M-D").format('YYYY-M-D'));
                       $('#end_date').val(moment(end_date, "YYYY-M-D").format('YYYY-M-D'));
            }else{
                cb(start_date, end_date);
            }


                var visit_by_date_data = eval($('#visit_by_date').val());
            var visit_by_date_labels = [];
            var visit_by_date_value = [];


            for(i=0;i<visit_by_date_data.length;i++) {
                var range_item = visit_by_date_data[i];
                visit_by_date_labels.push(range_item[0]);
                visit_by_date_value.push(range_item[1]);
            }



            var ctx = document.getElementById('visit_group').getContext('2d');
		ctx.canvas.width = 1000;
		ctx.canvas.height = 300;



		var color = Chart.helpers.color;
		var cfg = {
			type: 'bar',
			data: {
				labels: visit_by_date_labels,
				datasets:[{
					label: '{{ gettext("Thong_ke_khach_hang_theo_ngay") }}',
					backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					borderColor: window.chartColors.red,
					data: visit_by_date_value,
					type: 'line',
					pointRadius: 0,
					fill: false,
					lineTension: 0,
					borderWidth: 2
				}]
			},
			options: {
				scales: {

					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: '{{ gettext("So_khach_hang") }}'
						}
					}]
				}
			}
		};
	 new Chart(ctx, cfg);


            var visit_range_data = eval($('#visit_by_range').val());
            var visit_range_labels = [];
            var visit_range_value = [];


            for(i=0;i<visit_range_data.length;i++) {
                var range_item = visit_range_data[i];
                visit_range_labels.push(range_item[0]);
                visit_range_value.push(range_item[1]);
            }
              var visit_chart_range = {
                labels: visit_range_labels,
                datasets: [{
                    backgroundColor: window.chartColors.red,
                    data: visit_range_value
                }]
            };

            var visit_hours_data = eval($('#visit_by_hours').val());
            var visit_hours_labels = [];
            var visit_hours_value = [];


            for(i=0;i<visit_hours_data.length;i++) {
                var range_item = visit_hours_data[i];
                visit_hours_labels.push(range_item[0]);
                visit_hours_value.push(range_item[1]);
            }
            var visit_by_visit_hour = {
                labels: visit_hours_labels,
                datasets: [{
                    backgroundColor: window.chartColors.red,
                    data: visit_hours_value
                }]
            };

            var ctx1 = document.getElementById('customers_by_visit').getContext('2d');
                window.myBar = new Chart(ctx1, {
                    type: 'horizontalBar',
                    data: visit_chart_range,
                    options: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: false,
                            text: 'Chart.js Bar Chart - Stacked'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                stacked: true,
                            }],
                            yAxes: [{
                                stacked: true
                            }]
                        }
                    }
                });
                var ctx2 = document.getElementById('visit_by_hour').getContext('2d');
                new Chart(ctx2, {
                    type: 'horizontalBar',
                    data: visit_by_visit_hour,
                    options: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: false,
                            text: 'Visit by hours'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false
                        },
                        responsive: true,
                        scales: {
                               yAxes: [{
                                stacked: true
                            }],
                            xAxes: [{
                                stacked: true
                            }]

                        }
                    }
                });

                var visit_devices_data = eval($('#visit_by_devices').val());
                var visit_devices_labels = [];
                var visit_devices_value = [];


            for(i=0;i<visit_devices_data.length;i++) {
                var range_item = visit_devices_data[i];
                visit_devices_labels.push(range_item[0]);
                visit_devices_value.push(range_item[1]);
            }
            var visit_by_devices_chart = {
                labels: visit_devices_labels,
                datasets: [{
                    data: visit_devices_value,
                       backgroundColor: [
                                '#FF6384',
                                '#36A2EB',
                                '#FFCE56'
                            ]
                }]
            };


                var ctx3 = document.getElementById('devices').getContext('2d');
                new Chart(ctx3, {
                    type: 'pie',
                    data: visit_by_devices_chart,
                    options: {
                           responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        labels: {
                            render: 'percentage',
                            fontColor: ['green', 'white', 'red'],
                            precision: 2
                        }
                    }
                    }
                });

                 $("#view_report").click(function () {
                    var date_from = $('#start_date').val();
                    var date_to = $('#end_date').val();
                    var shop_id = $('#shop_id_select').val();
                    var url = "/customers_reports/"+shop_id+"?date_from=" + date_from + '&date_to=' + date_to;
                    $(location).attr('href', url);
                 });

                  var shop_id_select = $('#shop_id_select').val();
           $('#shop_in_mer').val(shop_id_select).trigger('change');
            $('#shop_in_mer').on("change", function(e) {
                     var shop_id = $('#shop_in_mer').val();
                       var url = "/customers_reports/"+shop_id;
                          $(location).attr('href', url);
                    });

                 {#$('#shop_in_mer').val($('#shop_id_select').val()).trigger('change');#}
                 {#$('#shop_in_mer').on("select2:select", function(e) {#}
                 {#    var shop_id = $('#shop_in_mer').val();#}
                 {#      var url = "/customers_reports/"+shop_id;#}
                 {#         $(location).attr('href', url);#}
                 {#   });#}


        });

    </script> {% endblock %}
