{% extends 'nextify/base.html' %} 
{% block main_content %}
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
            <div class="header">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-end">
                            <div class="col">

                                <!-- Pretitle -->
                                <h6 class="header-pretitle">

                                </h6>

                                <!-- Title -->
                                <h1 class="header-title">
                                    Tags
                                </h1>

                            </div>
                            <div class="col-auto">
                                <a href="#new_tag_modal" data-toggle="modal" class="btn btn-primary mb-3">
                                    <i class="fe fe-plus"></i> {{ gettext("Them_moi") }}
                                </a>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row u-mb-large justify-content-center">
                    <div class="col-12 col-md-12 col-xl-12 justify-content-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm table-nowrap card-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    {{ gettext("Ten") }}
                                                </th>
                                                <th>
                                                    {{ gettext("Mo_ta") }}
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="list">
                                            {% if tags|length > 0 %}
                                            {% for tag in tags %}
                                            <tr>
                                                <td>{{ tag.name }}</td>
                                                <td>{{ tag.description }}</td>
                                                <td>
                                                    {%if tag.name not in ['zalo', 'facebook', 'website', 'wifi', 'NV',
                                                    'pos']%}
                                                    <a href="#{{ tag._id }}_viewModal" data-toggle="modal"
                                                        class="btn btn-flat d-block d-md-inline-block"><i
                                                            class="fa fa-edit"></i> {{
                                                        gettext("Sua") }}</a>
                                                    <a href="#tags/{{ tag._id }}_remove" id="remove_{{ tag._id }}"
                                                        class="btn btn-flat d-block d-md-inline-block"><i
                                                            class="fa fa-minus-circle"></i> {{ gettext("Xoa") }}</a>
                                                    {%endif%}
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="{{ tag._id }}_viewModal" tabindex="-1"
                                                role="dialog" aria-labelledby="userDetailModal" data-backdrop="static">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-card card">
                                                            <div class="card-header">
                                                                <div class="row align-items-center">
                                                                    <div class="col">
                                                                        <!-- Title -->
                                                                        <h4 class="card-header-title"
                                                                            id="exampleModalCenterTitle">
                                                                            {{ gettext("Sua") }}
                                                                        </h4>
                                                                    </div>
                                                                    <div class="col-auto">
                                                                        <!-- Close -->
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true"
                                                                                data-target="#userDetailModal">×</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">

                                                                <div class="col-lg-12">
                                                                    <div class="row u-mb-medium">

                                                                        <div class="col-lg-12">
                                                                            <form method="POST"
                                                                                id="update_tag_{{ tag._id }}_fr"
                                                                                action="/create_tags/{{ tag._id }}"
                                                                                data-toggle="validator" role="form">
                                                                                <input type="hidden" name="_csrf_token"
                                                                                    value="{{ csrf_token() }}" />
                                                                                <div class="form-group">
                                                                                    <label for="name"
                                                                                        class="c-field__label">{{
                                                                                        gettext("Ten") }}: (<span>
                                                                                            <font color="red">*</font>
                                                                                        </span> {{ gettext("bat_buoc")
                                                                                        }})</label>
                                                                                    <input type="tel"
                                                                                        class="form-control"
                                                                                        id="name_{{ tag._id }}"
                                                                                        name="name_update_tag"
                                                                                        placeholder='{{ gettext("Loai_Tag") }}'
                                                                                        value="{% if tag %}{{ tag.name }}{% endif %}" />
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="c-field__label"
                                                                                        for="textarea2">{{
                                                                                        gettext("Mo_ta") }}: (<span>
                                                                                            <font color="red">*</font>
                                                                                        </span> {{ gettext("bat_buoc")
                                                                                        }})</label>
                                                                                    <textarea class="form-control"
                                                                                        id="desc_{{ tag._id }}"
                                                                                        name="desc"
                                                                                        value="{% if tag %}{{ tag.person_contact }}{% endif %}"
                                                                                        placeholder='{{ gettext("Mo_ta") }}'>{% if tag %}
                                                                                        {{ tag.person_contact }}{% endif %}</textarea>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="form-group" style="text-align: center">
                                                                    <button id="update_tag_{{ tag._id }}"
                                                                        class="btn btn-primary">{{
                                                                        gettext("Cap_nhat") }}
                                                                    </button>
                                                                </div>
                                                            </div>


                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <link rel="stylesheet" href="/static/nextify/css/sweetalert.css">
                                            <script nonce="{{ csp_nonce() }}">

                                                $(document).ready(function () {
                                                    $("#remove_{{ tag._id }}").click(function () {
                                                        Swal.fire({
                                                            title: '{{ gettext("Ban_co_chac_chan_muon_tag_khong?") }}',

                                                            type: 'warning',
                                                            showCancelButton: true,
                                                            focusCancel: true,
                                                            confirmButtonColor: '#3085d6',
                                                            cancelButtonColor: '#d33',
                                                            confirmButtonText: 'Có!',
                                                            cancelButtonText: '{{ gettext("Khong!")}}'
                                                        }).then((result) => {
                                                            if (result.value) {
                                                                var url_submit = '/tags/{{ tag._id }}_remove';
                                                                $.ajax({
                                                                    url: url_submit,
                                                                    type: 'GET',
                                                                    success: function (data) {
                                                                        swal('{{ gettext("Xoa_tag_thanh_cong") }}', '', 'success');
                                                                        location.reload();
                                                                    }
                                                                });

                                                            }

                                                            return false;
                                                        });
                                                    })

                                                    $("#update_tag_{{ tag._id }}").click(function () {
                                                        var name = $("#name_{{ tag._id }}").val();
                                                        var desc = $("#desc_{{ tag._id }}").val();
                                                        if (name.length == 0) {
                                                            swal('{{ gettext("Ten_Tag_khong_duoc_de_trong") }}', " ", "error");
                                                            return false;

                                                        }
                                                        if (desc.length == 0) {
                                                            swal('{{ gettext("Mo_ta_khong_duoc_de_trong") }}', " ", "error");
                                                            return false;

                                                        }
                                                        $.ajax({
                                                            url: $("#update_tag_{{ tag._id }}_fr").attr("action"),
                                                            type: $("#update_tag_{{ tag._id }}_fr").attr("method"),
                                                            data: $("#update_tag_{{ tag._id }}_fr").serialize(),

                                                            success: function (response) {
                                                                var returnedData = JSON.parse(response);
                                                                if ('error' in returnedData) {

                                                                    swal(returnedData['error'], " ", "error");
                                                                }
                                                                else {
                                                                    swal('{{ gettext("Cap_nhat_tag_thanh_cong") }}', '', 'success');
                                                                    location.reload();
                                                                }

                                                            },
                                                            error: function (xhr, desc, err) {
                                                                swal('{{ gettext("Co_loi_xay_ra,_thu_lai_sau") }}', " ", "error");


                                                            }
                                                        });
                                                        // $("#update_tag_{{ tag._id }}_fr").submit();
                                                        return false;

                                                    });

                                                });
                                            </script>

                                            {% endfor %}
                                            {% endif %}
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                            <div class="card-footer">

                                <ul class="pagination justify-content-center">
                                    {% if pagination %}
                                    {{ pagination.links }}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="new_tag_modal" tabindex="-1" role="dialog" aria-labelledby="userDetailModal"
    data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title" id="exampleModalCenterTitle">
                                {{ gettext("Them_moi_Tag") }}
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                data-target="#new_tag_modal">
                                <span aria-hidden="true">×</span>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="col-lg-12">
                        <div class="row u-mb-medium">
                            <div class="col-lg-12">
                                <form method="POST" action="/create_tags/add" data-toggle="validator" role="form"
                                    id="new_tag_fr">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                    <div class="form-group">
                                        <label for="name">{{ gettext("Ten") }}: (<span>
                                                <font color="red">*</font>
                                            </span> {{ gettext("bat_buoc") }} )</label>
                                        <input type="tel" class="form-control" id="name" name="name"
                                            placeholder='{{ gettext("Loai_Tag") }}' />
                                    </div>
                                    <div class="form-group">
                                        <label for="textarea2">{{ gettext("Mo_ta") }}: (<span>
                                                <font color="red">*</font>
                                            </span> {{ gettext("bat_buoc") }} )</label>
                                        <textarea class="form-control" id="desc" name="desc"
                                            placeholder='{{ gettext("Mo_ta") }}'></textarea>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group" style="text-align: center">
                        <button id="new_tag_btn" class="btn btn-primary">{{ gettext("Them_moi") }}</button>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>

{% endblock %}
{% block js %}

<script nonce="{{ csp_nonce() }}">

    $(document).ready(function () {

        $('#new_tag_modal').on('shown.bs.modal', function () {
            $('#name').trigger('focus');
        });
        $('textarea').each(function () {
            $(this).val($(this).val().trim());
        }
        );
        $('input').each(function () {
            $(this).val($(this).val().trim());
        }
        );
        $("#new_tag_btn").click(function () {
            var name = $("#name").val();
            var desc = $("#desc").val();

            if (name.length == 0) {
                swal('{{ gettext("Ten_Tag_khong_duoc_de_trong") }}', " ", "error");
                return false;

            }
            if (desc.length == 0) {
                swal('{{ gettext("Mo_ta_khong_duoc_de_trong") }}', " ", "error");
                return false;

            }
            $.ajax({
                url: $("#new_tag_fr").attr("action"),
                type: $("#new_tag_fr").attr("method"),
                data: $("#new_tag_fr").serialize(),

                success: function (response) {
                    var returnedData = JSON.parse(response);
                    if ('error' in returnedData) {

                        swal(returnedData['error'], " ", "error");
                    }
                    else {
                        swal('{{ gettext("Them_moi_tag_thanh_cong") }}', '', 'success');
                        location.reload();
                    }

                },
                error: function (xhr, desc, err) {
                    swal('{{ gettext("Co_loi_xay_ra,_thu_lai_sau") }}', " ", "error");


                }
            });
            return false;


        });

        // $("#new_tag_fr").submit();

        // return false;


    });


</script>
{% endblock %}