{% extends 'nextify/base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css" />
<link href="/static/css/table.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/calendar.css">
{% endblock %}
{% block main_content %}
<style>
    #calendar {
        max-width: 1100px;
        margin: 40px auto;
    }
</style>
<div class="container-fluid">
    <div class="header">
        <div class="header-body">
            <div class="row align-items-end">
                <div class="col">
                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                        Chiến dịch
                    </h6>
                    <!-- Title -->
                    <h1 class="header-title">
                        Phân phối quảng cáo WIFI
                    </h1>

                </div>
                <div class="col-auto">
                    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 0.5rem 0.75rem; border: 1px solid #ccc; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                </div>

                <div class="col-auto">
                    
                    <a class="btn btn-dark d-inline-flex" id="location" data-bs-toggle="tab"
                        data-bs-target="#" role="tab" aria-controls="locationPane"
                        aria-selected="false">
                        <span class="fe fe-map-pin"></span>
                    </a>

                

                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-xl-3">

            <a href="#!" class="btn btn-danger btn-block" id="create_hotspot_campaign">
                <i class="fa fa-plus"></i> {{ gettext("Tao_chien_dich") }}
            </a> 

            <div class="card mt-3">
                <div class="card-header">
                    Bộ lọc
                </div>
                <div class="card-body">
                    <form id="filter_wifi_ads" action="/wifi_ads" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />

                        <div class="form-group">
                            <label>{{ gettext("Trang_thai") }}:</label>
                            <select id="status_filter" class="custom-select control-container" name="status_filter">
                                <option value="status_all">{{ gettext("Tat_ca") }}</option>
                                <option value="status_yes">{{ gettext("Kich_hoat") }}</option>
                                <option value="status_no">{{ gettext("Khong_kich_hoat") }}</option>
                            </select>
                        </div>
                        <label>Khoảng mục tiêu:</label>
                        <div class="form-group row">

                            <div class="col-6">
                                <input type="text" id="min_target" name="min_target"
                                    placeholder='{{ gettext("Lon_hon") }}' class="form-control"
                                    value="{% if min_target and min_target!='None' %}{{ min_target }}{% endif %}" />
                            </div>
                            <div class="col-6">
                                <input type="text" id="max_target" name="max_target"
                                    placeholder='{{ gettext("Nho_hon") }}' class="form-control"
                                    value="{% if max_target and max_target!='None' %}{{ max_target }}{% endif %}" />
                            </div>
                        </div>
                        <label>Tags:</label>
                        <div class="form-group">

                            <select id="tags_filter" class="form-control form-control-lg custom-select"
                                name="tags_filter" data-toggle="select" multiple>
                                {% for tag in tags %}
                                <option value="{{ tag._id }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label>Ngày tạo:</label>
                        <div class="form-group row">

                            <div class="col-6">

                                <input id="from_create" name="from_create" type="text"
                                    placeholder='{{ gettext("Tu_ngay") }}..' class="form-control">
                            </div>
                            <div class="col-6">

                                <input id="to_create" name="to_create" type="text"
                                    placeholder='{{ gettext("Den_ngay") }}..' class="form-control">
                            </div>
                        </div>
                        <label>Thời gian thực hiện:</label>
                        <div class="form-group row">

                            <div class="col-6">

                                <input id="from_perform" name="from_perform" type="text"
                                    placeholder='{{ gettext("Tu_ngay") }}..' class="form-control">
                            </div>
                            <div class="col-6">

                                <input id="to_perform" name="to_perform" type="text"
                                    placeholder='{{ gettext("Den_ngay") }}..' class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ gettext("Loai_chien_dich") }}:</label>
                            <select id="type_campaign_filter" class="custom-select control-container"
                                name="type_campaign_filter">
                                <option value="type_campaign_all">{{ gettext("Tat_ca") }}</option>
                                <option value="monopoly">Độc quyền</option>
                                <option value="share">Chia sẻ</option>
                                <option value="default">Mặc định</option>
                                <option value="partner">Đối tác</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-right">
                    <a href="#!" class="btn btn-primary" id="filter_campaign">
                        Xem
                    </a>
                </div>
            </div>

        </div>


        <div class="col-12 col-xl-9">
            <div class="card table-card">
                <div class="card-header">
                    <div class="col">
                        <form>
                            <div class="input-group input-group-flush input-group-merge input-group-reverse">
                                <input class="form-control list-search" type="search"
                                    placeholder="Tìm kiếm theo tên chiến dịch hoặc địa điểm">
                                <span class="input-group-text">
                                    <i class="fe fe-search"></i>
                                </span>
                            </div>
                        </form>

                    </div>
                    <div class="col-auto">
                        <div class="nav btn-group d-inline-flex" role="tablist">
                            <button class="btn btn-dark" id="contactsListTab" data-bs-toggle="tab"
                                data-bs-target="#contactsListPane" role="tab" aria-controls="contactsListPane"
                                aria-selected="true">
                                <span class="fe fe-list"></span>
                            </button>
                            <button class="btn btn-dark" id="contactsCardsTab" data-bs-toggle="tab"
                                data-bs-target="#contactsCardsPane" role="tab" aria-controls="contactsCardsPane"
                                aria-selected="false">
                                <span class="fe fe-grid"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center" id="customers_loading_view" style="display: none;">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden"></span>
                    </div>

                </div>
                <div class="table campaigns-table v2" id="list_data" style="display: none;">
                    <table class="table v2">
                        <thead>
                            <tr>
                                <th data-field="campaignName"><span class="th-contents"><span class="text">Chiến
                                            dịch</span><span class="badge rounded-pill bg-danger-soft">{{total}}</span>
                                </th>


                                <th data-field="clicks"><span style="font-size: 14px; margin-bottom: 0rem;">Mục
                                        tiêu</span>
                                </th>



                                <th data-field="status"><span class="th-contents"><span class="text">Trạng
                                            thái</span></span>
                                </th>
                                <th data-field="actionIcons"><span class="th-contents"><span class="text"></span></span>
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for camp in campaigns %}
                            <tr>
                                <td data-field="campaignName"><span class="th-contents"><span
                                            class="text">Campaign</span></span>
                                    <div class="campaign-name-row">
                                        <div class="campaign-thumb is-clickable">
                                            <i class="fe fe-wifi fa-lg" style="display:inline-block;text-align: center;
                                       vertical-align: bottom;"></i>
                                        </div>
                                        <div class="campaign-name">{{ camp.name }}</div>
                                        <div class="campaign-dates">Cập nhật: {{ camp.update_at|get_human_time }}</div>
                                        <div class="campaign-dates">
                                            {% if camp.type_campaign and
                                            camp.type_campaign|string=="monopoly" %}
                                            <span class="badge badge-soft-danger">Độc quyền</span>
                                            {% elif camp.type_campaign and
                                            camp.type_campaign|string=="share" %}
                                            <span class="badge badge-soft-warning">Chia sẻ</span>
                                            {% elif camp.type_campaign and
                                            camp.type_campaign|string=="default" %}
                                            <span class="badge badge-soft-success">Mặc định</span>
                                            {% elif camp.type_campaign and
                                            camp.type_campaign|string=="partner" %}
                                            <span class="badge badge-soft-info">Đối tác</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>



                                <td data-field="impressions"><span class="th-contents"><span class="text">Mục
                                            tiêu</span></span>

                                    <div class="campaign-metric"><span>{{ camp.target_campaign }}</span></div>
                                </td>
                                <td data-field="status">
                                    <div class="custom-control custom-switch">
                                        <input camp_id="{{ camp._id }}" class="custom-control-input"
                                            id="active_status_{{ camp._id }}" status_id="active_status_{{ camp._id }}"
                                            type="checkbox" {% if camp.status and camp.status|lower=="true" %}checked{%
                                            endif %}>
                                        <label class="custom-control-label" for="active_status_{{ camp._id }}"></label>
                                    </div>
                                </td>

                                <td class="text-end">

                                    <!-- Dropdown -->
                                    <div class="dropdown">
                                        <a class="dropdown-ellipses dropdown-toggle" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fe fe-more-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#!" class="dropdown-item preview_campaign" camp_id="{{ camp._id }}"
                                                camp_name="{{ camp.name }}" data-toggle="modal" href="#"
                                                style="color: inherit;text-decoration: none;">
                                                Xem trước
                                            </a>
                                            <a href="/wifi_ads/campaign/report" class="dropdown-item">
                                                Báo cáo
                                            </a>
                                            
                                            <a href="/wifi_ads_detail?campaign_id={{ camp._id }}&init=False"
                                                class="dropdown-item">
                                                Chỉnh sửa
                                            </a>
                                            <a href="#!" class="dropdown-item">
                                                Copy
                                            </a>
                                            <a href="#!" class="dropdown-item" id="remove_{{ camp._id }}"
                                                camp_id="{{ camp._id }}">
                                                Xóa
                                            </a>
                                            <script nonce="{{ csp_nonce() }}">
                                                $(document).ready(function () {
                                                    $('#active_status_{{ camp._id }}').change(function () {
                                                        var _id = $('#active_status_{{ camp._id }}').attr('status_id');
                                                        var camp_id = $('#active_status_{{ camp._id }}').attr('camp_id');
                                                        var status = $('#' + _id).is(":checked");
                                                        console.log(typeof (status))
                                                        var url = '/wifi_ads/' + camp_id + '/active/' + $('#' + _id).is(":checked");

                                                        $.ajax({
                                                            type: 'GET',
                                                            url: url,
                                                            success: function (response) {

                                                                swal({
                                                                    title: '{{ gettext("Thanh_cong!") }}',
                                                                    text: " ",
                                                                    type: "success"
                                                                });
                                                            }

                                                        })
                                                        location.href = '/wifi_ads';
                                                    });

                                                    $('#active_birthday_{{ camp._id }}').change(function () {
                                                        var _id = $('#active_birthday_{{ camp._id }}').attr('status_id');
                                                        var camp_id = $('#active_birthday_{{ camp._id }}').attr('camp_id');
                                                        var status = $('#' + _id).is(":checked");
                                                        console.log(status);
                                                        var url = '/wifi_ads/birthday/' + camp_id + '/' + $('#' + _id).is(":checked");

                                                        $.ajax({
                                                            type: 'GET',
                                                            url: url,
                                                            success: function (response) {
                                                                swal({
                                                                    title: '{{ gettext("Thanh_cong!") }}',
                                                                    text: " ",
                                                                    type: "success"
                                                                });
                                                            }
                                                        })
                                                    });
                                                    $("#remove_{{ camp._id }}").click(function (e) {
                                                        var camp_id = $('#remove_{{ camp._id }}').attr('camp_id');
                                                        Swal.fire({
                                                            title: '{{ gettext("Ban_co_chac_chan_muon_xoa_khong?") }}',
                                                            type: 'warning',
                                                            showCancelButton: true,
                                                            confirmButtonColor: '#3085d6',
                                                            focusCancel: true,
                                                            cancelButtonColor: '#d33',
                                                            confirmButtonText: '{{ gettext("Co") }}!',
                                                            cancelButtonText: '{{ gettext("Khong") }}!'
                                                        }).then((result) => {
                                                            if (result.value) {
                                                                var url = '/wifi_ads/' + camp_id + '/remove/true';
                                                                $.ajax({
                                                                    type: 'GET',
                                                                    url: url,
                                                                    success: function (response) {
                                                                        swal({
                                                                            title: '{{ gettext("Thanh_cong!") }}',
                                                                            text: " ",
                                                                            type: "success"
                                                                        });
                                                                    }

                                                                });
                                                            }
                                                            location.href = '/wifi_ads';
                                                        })
                                                    });


                                                });
                                            </script>
                                        </div>
                                    </div>

                                </td>



                            </tr>

                            {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    <div class="card-footer">
                        <ul class="pagination justify-content-center">
                            {% if pagination %}
                            {{ pagination.links }}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="table campaigns-table v2" id="calendar_data" style="display: none;">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

    </div>
    <input type="hidden" name="events" value="{{ events }}" id="events" />
</div>
<div aria-labelledby="Preview campaign" class="modal fade" data-backdrop="static" id="preview_detail_campaign"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="preview_detail_campaign_title"></h3>

                <a aria-label="Close" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body text-center" id="preview_detail_campaign_body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Cấu hình</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="collect_form">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-group">
                        <label>Nếu không có chiến dịch tương thích thì chọn: </label>
                        <div class='row ml-2'>
                            <div class="custom-control custom-radio checklist-control col-3">
                                <input class="custom-control-input" id="default_camp" type="radio" name="default_wifi"
                                    value="default_camp" checked>
                                <label class="custom-control-label" for="default_camp">
                                    <span class="custom-control-caption">
                                        Mặc định
                                    </span>
                                </label>

                            </div>
                            <div class="custom-control custom-radio checklist-control col-auto mt-0">
                                <input class="custom-control-input" id="nearest_camp" type="radio" name="default_wifi"
                                    value="nearest_camp" {% if merchant.default_wifi and
                                    merchant.default_wifi=='nearest_camp' %}checked{% endif %}>
                                <label class="custom-control-label" for="nearest_camp">
                                    <span class="custom-control-caption">
                                        Gần nhất
                                    </span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tỷ lệ chia sẻ cho đối tác (%):</label>
                        <input type="text" class="form-control"
                            value="{% if merchant.share_rate and merchant.share_rate!='None' %}{{ merchant.share_rate }}{% endif %}"
                            name="share_rate">
                    </div>
                </form>
            </div>
            <div class="card-footer text-right">
                <a href="#!" class="btn btn-primary" id="save_settings">
                    Lưu
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='daterangepicker/daterangepicker.js') }}"></script>
<script nonce="{{ csp_nonce() }}">
    $(document).ready(function () {
        var start = moment().subtract(29, 'days');
            var end = moment();
        function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Hôm nay': [moment(), moment()],
                    'Hôm qua': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '7 ngày gần nhất': [moment().subtract(6, 'days'), moment()],
                    '30 ngày gần nhất': [moment().subtract(29, 'days'), moment()],
                    'Tháng này': [moment().startOf('month'), moment().endOf('month')],
                    'Tháng trước': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);
        $('#loc_filter').select2();

        $('#contactsListTab').addClass("active");
        $("#contactsCardsTab").removeClass("active");
        $('#list_data').show();
        $('#calendar_data').hide();

        $("#contactsListTab").click(function () {
            $('#contactsListTab').addClass("active");
            $("#contactsCardsTab").removeClass("active");
            $('#list_data').show();
            $('#calendar_data').hide();
        });

        $("#contactsCardsTab").click(function () {
            $('#contactsListTab').removeClass("active");
            $("#contactsCardsTab").addClass("active");
            $('#list_data').hide();
            $('#calendar_data').show();
            var events = $('#events').val();
            events = JSON.parse(events);
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                initialDate: '2021-11-23',
                headerToolbar: {

                },

                events: events
            });

            calendar.render();
        });


        $("#create_hotspot_campaign").click(function () {
            location.href = '/wifi_ads_detail?campaign_id=add&init=False';
        });

        $('.preview_campaign').click(function () {
            var camp_id = $(this).attr('camp_id');
            var camp_name = $(this).attr('camp_name');
            $('#preview_detail_campaign').modal('toggle');
            $('#preview_detail_campaign_body').empty();

            $.ajax({
                type: 'GET',
                url: '/preview_wifi_ads/{{merchant_id}}/' + camp_id,
                success: function (response) {
                    $('#preview_detail_campaign_title').text(camp_name);
                    $('#preview_detail_campaign_body').html(response);
                }
            })
        });

        $("#filter_campaign").click(function (e) {
            e.preventDefault();
            var from_create = $("#from_create").val();
            var to_create = $("#to_create").val();
            var from_perform = $("#from_perform").val();
            var to_perform = $("#to_perform").val();
            var min_impressions = $("#min_impressions").val();
            var max_impressions = $("#max_impressions").val();
            var status_filter = $("#status_filter").val();
            var min_target = $("#min_target").val();
            var max_target = $("#max_target").val();
            var result_filter = $("#result_filter").val();
            var loc_filter = $("#loc_filter").val().toString();
            var type_campaign_filter = $("#type_campaign_filter").val();
            var tags_filter = $("#tags_filter").val().toString();


            if (from_create && from_create.length > 0) {
                if (!to_create || to_create.length == 0) {

                    swal('Bạn chưa chọn ngày kết thúc', '', "error");
                    return false;
                }
                var from_create_obj = moment(from_create, "DD-MM-YYYY").valueOf();
                var to_create_obj = moment(to_create, "DD-MM-YYYY").valueOf();
                if (to_create_obj < from_create_obj) {
                    swal('Ngày bắt đầu phải nhỏ hơn ngày kết thúc', '', "error");
                    return false;
                }

            }
            if (to_create && to_create.length > 0) {
                if (!from_create || from_create.length == 0) {

                    swal('Bạn chưa chọn ngày bắt đầu', '', "error");
                    return false;
                }
                var from_create_obj = moment(from_create, "DD-MM-YYYY").valueOf();
                var to_create_obj = moment(to_create, "DD-MM-YYYY").valueOf();
                if (to_create_obj < from_create_obj) {
                    swal('Ngày bắt đầu phải nhỏ hơn ngày kết thúc', '', "error");
                    return false;
                }

            }

            if (from_perform && from_perform.length > 0) {
                if (!to_perform || to_perform.length == 0) {

                    swal('Bạn chưa chọn ngày kết thúc', '', "error");
                    return false;
                }
                var from_perform_obj = moment(from_perform, "DD-MM-YYYY").valueOf();
                var to_perform_obj = moment(to_perform, "DD-MM-YYYY").valueOf();
                if (to_perform_obj < from_perform_obj) {
                    swal('Ngày bắt đầu phải nhỏ hơn ngày kết thúc', '', "error");
                    return false;
                }

            }
            if (to_perform && to_perform.length > 0) {
                if (!from_perform || from_perform.length == 0) {

                    swal('Bạn chưa chọn ngày bắt đầu', '', "error");
                    return false;
                }
                var from_perform_obj = moment(from_perform, "DD-MM-YYYY").valueOf();
                var to_perform_obj = moment(to_perform, "DD-MM-YYYY").valueOf();
                if (to_perform_obj < from_perform_obj) {
                    swal('Ngày bắt đầu phải nhỏ hơn ngày kết thúc', '', "error");
                    return false;
                }

            }
            if (min_impressions && min_impressions.length > 0) {
                var min_impressions_obj = min_impressions.trim();
                if (!parseInt(min_impressions_obj)) {
                    if (parseInt(min_impressions_obj) <= 0) {

                        swal('Lượt hiển thị phải lớn hơn 0', '', "error");
                    } else {
                        swal('Lượt hiển thị phải dạng số', '', "error");
                    }
                    return false;
                }

            }
            if (max_impressions && max_impressions.length > 0) {
                var max_impressions_obj = max_impressions.trim();
                if (!parseInt(max_impressions_obj)) {
                    if (parseInt(max_impressions_obj) <= 0) {

                        swal('Lượt hiển thị phải lớn hơn 0', '', "error");
                    } else {
                        swal('Lượt hiển thị phải dạng số', '', "error");
                    }
                    return false;
                }

            }

            // if (min_impressions && min_impressions.length > 0 && max_impressions && max_impressions.length > 0){
            //     var min_impressions_obj = min_impressions.trim();
            //     var max_impressions_obj = max_impressions.trim();
            //     if (parseInt(max_impressions_obj) < parseInt(min_impressions_obj)){
            //         swal('Lượt hiển thị phải lớn hơn 0', '', "error");
            //     }
            // }

            if (min_target && min_target.length > 0) {
                var min_target_obj = min_target.trim();
                if (!parseInt(min_target_obj)) {
                    if (parseInt(min_target_obj) <= 0) {

                        swal('Khoảng mục tiêu phải lớn hơn 0', '', "error");
                    } else {
                        swal('Khoảng mục tiêu phải dạng số', '', "error");
                    }
                    return false;
                }

            }
            if (max_target && max_target.length > 0) {
                var max_target_obj = max_target.trim();
                if (!parseInt(max_target_obj)) {
                    if (parseInt(max_target_obj) <= 0) {

                        swal('Khoảng mục tiêu phải lớn hơn 0', '', "error");
                    } else {
                        swal('Khoảng mục tiêu phải dạng số', '', "error");
                    }
                    return false;
                }

            }

            var form = $("#filter_wifi_ads");
            var url = form.attr('action');
            var data = {
                "from_create": from_create,
                "to_create": to_create,
                "from_perform": from_perform,
                "to_perform": to_perform,
                "min_impressions": min_impressions,
                "max_impressions": max_impressions,
                "status_filter": status_filter,
                "min_target": min_target,
                "max_target": max_target,
                "result_filter": result_filter,
                "loc_filter": loc_filter,
                "type_campaign_filter": type_campaign_filter,
                "tags_filter": tags_filter
            }
            $("#customers_loading_view").show();
            $("#list_data").empty();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (data) {
                    $("#customers_loading_view").hide();
                    $("#list_data").html(data);
                }
            });


        });
        $("#active_wifi_ads").change(function () {
            var active_wifi_ads = $('#active_wifi_ads').is(":checked");
            var url = '/setting_merchant_wifi_ads/' + active_wifi_ads;
            $.get(url);
            swal(ngettext("Thanh_cong"), '', 'success');
        });

        $("#save_settings").click(function () {
            var url = '/setting_merchant_wifi_ads/true'
            $.ajax({
                type: "POST",
                url: url,
                data: $("#collect_form").serialize(),
                success: function (data) {
                    swal({
                        title: '{{ gettext("Thanh_cong!") }}',
                        text: " ",
                        type: "success"
                    });

                }
            });

        });

    });
</script>
{% endblock %}