<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if 'viettel.vn' in request.url %}Viettel{% elif 'crmx' in request.url %}CRMX{% else %}
        Nextify{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    {% if 'viettel.vn' in request.url %}
        <title>Viettel | vmarketing</title>
        {% include 'portal_v2/viettel_meta_tags.html' %}
    {% elif 'crmx' in request.url %}
        <title>CRMX | Better eXperience fo Wi-Fi</title>
        {% include 'portal_v2/crmx_meta_tags.html' %}
    {% else %}
        <title>Nextify | The Next Generation of Loyalty</title>
        {% include 'portal_v2/nextify_meta_tags.html' %}
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="/static/portal_v2/default/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/portal_v2/default/css/main.css">
    <style>
        .slider-block {
            height: 350px;
            display: inline-block;
        }

        #carousel {
            height: 100%;
        }

        #carousel .carousel-inner {
            height: 100%;
        }

        #carousel .item {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
        }

        .bg-image {
            /* The image used */
            background-image: url(//files.nextify.vn/{{ shop.background }});

            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
        }

        .text-checkbox100 {
            font-family: 'PlainRegular', Helvetica Neue, Helvetica, Arial, sans-serif !important;
            font-size: 16px;
            color: #999999;
            line-height: 1.4;

            display: block;
            position: relative;
            padding-left: 26px;
            cursor: pointer;
        }



    </style>
    <!--===============================================================================================-->
    <script src="/static/portal_v2/default/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
<script src="/static/portal_v2/cloud_flare/modernizr.min.js"></script>
<script src="/static/portal_v2/cloud_flare/jquery.touchSwipe.min.js"></script>
    <script src="/static/portal_v2/default/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/static/portal_v2/default/vendor/bootstrap/js/popper.js"></script>
    <script src="/static/portal_v2/default/vendor/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

<div class="limiter">
    <div class="container-login100 bg-image">

        <div class="wrap-login100" style="width: 670px;">


            <div class="login100-form-title">
                  <span class="login100-form-avatar">
						<img src="//files.nextify.vn/{{ shop.logo }}"
                             style="width: 120px; height: 120px" alt="AVATAR">
					</span>

            </div>
            <div class="d-flex justify-content-center align-items-center">

                <div class="login100-form">
                    <div class="flex-sb-m w-full p-b-30" style="justify-content: center;">

                        <span class="login100-form-title-1" style="color: #0dff9a;font-family: 'PlainRegular', Helvetica Neue, Helvetica, Arial, sans-serif !important; font-size: 20px">
						<i class="fa fa-check-circle"></i> Cảm ơn bạn đã tham gia khảo sát
					</span>


                    </div>
                     <div class="flex-sb-m w-full p-b-30" style="justify-content: center;">
                        <span class="text-checkbox100">Đừng quên theo dõi chúng tôi trên Fanpage</span>
                     </div>
                     <div class="flex-sb-m w-full p-b-30" style="justify-content: center;">
                         <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=611214335939430&autoLogAppEvents=1"></script>
                         <div class="fb-page" data-href="{{ shop.facebook_page }}" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{ shop.facebook_page }}" class="fb-xfbml-parse-ignore"><a href="{{ shop.facebook_page }}">Facebook</a></blockquote></div>
                     </div>

                    <div class="container-login100-form-btn" style="justify-content: center;">
                         {% if auth_target %}

                       {% if device_type in ['mikrotik','draytek','unifi', 'fortinet', 'cisco', 'borynet', 'ruijie', 'pfsense'] %}

                             {%if device_type == 'ruijie' %}

                                    <script type="text/javascript">
                                function doLogin() {
                                           var auth_target = document.getElementById('auth_target').value;
                                           location.href = auth_target;
                                            return false;
                                        }
                                    </script>
                                 {% else %}
                                 <script type="text/javascript">
                                function doLogin() {
                                            document.send_mik_fr.submit();
                                            return false;
                                        }
                                    </script>
                            {% endif %}
                                {% if device_radius %}
                                    {% if device_type == 'mikrotik'  %}

                                       <form name="send_mik_fr" action="{{ auth_target }}" method="post"
                                      id="send_mik_fr">
                                      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                          {%if profile%}
                                          <input type="hidden" name="username" value="{{ profile.user_radius }}"/>
                                          <input type="hidden" name="password" value="Accept"/>
                                          {%else%}
                                            <input type="hidden" name="username" value="vpn"/>
                                            <input type="hidden" name="password" value="vpn"/>
                                        {%endif%}
                                            <input type="hidden" name="dst" value="{{ redirect_uri }}"/>
                                            <input type="hidden" name="popup" value="true"/>
                                        </form>
                                        {% elif device_type == 'draytek' %}
                                          <form name="send_mik_fr" action="{{ auth_target }}" method="get" id="send_mik_fr">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                            <input type="hidden" name="target" value="{{ redirect_uri }}">
                                              {%if profile%}
                                              <input type="hidden" name="username" value="{{ profile.user_radius }}"/>
                                              <input type="hidden" name="password" value="Accept"/>
                                              {%else%}
                                                <input type="hidden" name="username" value="vpn"/>
                                                <input type="hidden" name="password" value="vpn"/>
                                            {%endif%}
                                            <input type="hidden" name="dst" value="{{ redirect_uri }}"/>
                                            <input type="hidden" name="popup" value="true"/>
                                            </form>
                                    {% elif device_type == 'unifi' %}
                                    <form name="send_mik_fr" action="{{ auth_target }}" method="get" id="send_mik_fr">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                        <input type="hidden" name="next_url" value="{{ redirect_uri }}">
                                        <input type="hidden" id="by" name="by" value="radius">
                                        <input type="hidden" id="mac" name="mac" value="{{gateway_mac}}">
                                        <input type="hidden" id="ec" name="ec" value="{{ec}}">
                                        {%if profile%}
                                        <input type="hidden" name="username" value="{{ profile.user_radius }}"/>
                                        <input type="hidden" name="password" value="Accept"/>
                                        {%else%}
                                          <input type="hidden" name="username" value="vpn"/>
                                          <input type="hidden" name="password" value="vpn"/>
                                      {%endif%}
                                        <input type="hidden" name="dst" value="{{ redirect_uri }}"/>
                                        <input type="hidden" name="popup" value="true"/>
                                  </form>
                                    {% elif device_type == 'fortinet' %}
                                    <form action="{{ auth_target.replace('fgtauth','') }}" method="post" name="send_mik_fr" id="send_mik_fr">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                        <input type="hidden" name="4Tredir" value="{{ redirect_uri }}">
                                        <input type="hidden" name="magic" value="{{magic_fortinet}}">

                                        {%if profile%}
                                        <input name="username" id="ft_un" type="hidden" value="{{ profile.user_radius }}">

                                        <input name="password" id="ft_pd" type="hidden" value="Accept">
                                        {%else%}
                                        <input name="username" id="ft_un" type="hidden" value="vpn"/>

                                        <input name="password" id="ft_pd" type="hidden" value="vpn"/>
                                    {%endif%}


                                      </form>
                                    {% elif device_type == 'cisco' %}
                                        <form name="send_mik_fr" action="{{ auth_target }}" method="post" id="send_mik_fr">
                                        <input type="hidden" name="buttonClicked" size="16" maxlength="15" value="4">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                        <input type="hidden" name="redirect_url"  value="{{ redirect_uri }}">
                                        {%if profile%}
                                        <input type="hidden" name="username" value="{{ profile.user_radius }}"/>
                                        <input type="hidden" name="password" value="Accept"/>
                                        {%else%}
                                          <input type="hidden" name="username" value="vpn"/>
                                          <input type="hidden" name="password" value="vpn"/>
                                      {%endif%}
                                        </form>
                                        {% elif device_type == 'borynet' %}
                                         <form name="send_mik_fr" action="/borynet_authen" method="get" id="send_mik_fr">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                            <input type="hidden" name="dst" value="{{ redirect_uri }}"/>
                                          <input type="hidden" name="api_url" id="api_url" value="{{ auth_target }}"/>
                                         <input type="hidden" name="ApMac" id="gateway_mac" value="{{ gateway_mac.upper() }}"/>
                                          <input type="hidden" name="UserMac" id="client_mac" value="{{ client_mac }}"/>
                                        {%if profile%}
                                        <input type="hidden" name="UserName" id="username" value="{{ profile.user_radius }}"/>
                                        <input type="hidden" name="PassWord" id="password" value="Accept"/>
                                        {%else%}
                                          <input type="hidden" name="UserName" id="username" value="vpn"/>
                                          <input type="hidden" name="PassWord" id="password" value="vpn"/>
                                      {%endif%}
                                        </form>
                                        {% elif device_type == 'pfsense' %}

                                       <form name="send_mik_fr" action="{{ auth_target }}&redirurl={{ redirect_uri }}"  method="post" id="send_mik_fr">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />  
                                        {%if profile%}
                                                <input type="hidden" name="auth_user" id="username" value="{{ profile.user_radius }}"/>
                                        <input type="hidden" name="auth_password" id="password" value="Accept"/>
                                              {%else%}
                                           <input type="hidden"  name="auth_user" value="vpn">
                                           <input  type="hidden" name="auth_pass" value="vpn">
                                                {%endif%}
                                           <input  type="hidden" name="accept" value="Continue">
                                       <input  type="hidden" name="zone" value="nextify">
                                           <input type="hidden"  name="redirurl" value="{{ redirect_uri }}">

                                        </form>

                                    {% endif %}

                                    {% else %}
                                     {%if device_type == 'ruijie' %}
                                        <form name="send_mik_fr" action="{{ auth_target }}" method="get" id="send_mik_fr">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                            <input type="hidden" name="dst" id="dst" value="{{ redirect_uri }}"/>
                                         <input type="hidden" name="auth_target" id="auth_target" value="{{ auth_target }}"/>

                                        </form>

                                         {% else %}

                                <form name="send_mik_fr" action="{{ auth_target }}" method="post"
                                      id="send_mik_fr">
                                      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                                    <input type="hidden" name="username" value="nextify"/>
                                    <input type="hidden" name="password" value="Accept"/>
                                    <input type="hidden" name="dst" value="{{ redirect_uri }}"/>
                                    <input type="hidden" name="popup" value="true"/>
                                </form>
                                          {% endif %}
                                    {% endif %}

                                 <button class="login100-form-btn" style="background-image: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);" onclick="doLogin()">
                                    {% if shop.connect_button %}
                                            {{ shop.connect_button }}
                                        {% else %}
                                         Kết nối Wi-Fi/Go Online
                                        {% endif %}
						        </button>


                            {% else %}

                            <a href="{{ auth_target }}" class="login100-form-btn" style="background-image: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);">
                            {% if shop.connect_button %}
                                            {{ shop.connect_button }}
                                        {% else %}
                                         Kết nối Wi-Fi/Go Online
                                        {% endif %}
						</a>



                            {% endif %}
                            {% else %}

                            <p class="text-success"><i class="fe fe-wifi" aria-hidden="true"></i> Kết nối thành công</p>

                        {% endif %}


                    </div>


                </div>


            </div>

        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="/static/portal_v2/default/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/static/portal_v2/default/vendor/daterangepicker/moment.min.js"></script>
<script src="/static/portal_v2/default/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/static/portal_v2/default/vendor/countdowntime/countdowntime.js"></script>

<!--===============================================================================================-->
<script src="/static/portal_v2/default/js/main.js"></script>

{% if shop.facebook_pixel_code and  shop.facebook_pixel_code != 'None' %}
    {{ shop.facebook_pixel_code|safe }}
{% endif %}
{% if shop.google_pixel_code  and  shop.google_pixel_code != 'None' %}
    {{ shop.google_pixel_code|safe }}
{% endif %}
</body>
</html>