<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<!-- include css file -->
 <link rel="stylesheet" href="/static/wifi_portal/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/wifi_portal/css/fonts.css">
  <link rel="stylesheet" href="/static/wifi_portal/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/wifi_portal/css/styles.css">
	<!-- end include css file -->
</head>

<body class="{% if card.photo %}wifi_app_event{%endif %}">
     {% if card.photo %}
      <div class="container main_event">
		<div class="row" style="height: 100%;">
			<div class="col-sm col-md-8 col-lg-6 mg-auto box_layout"
           style="background-image: url('//files.nextify.vn/{{ card.photo }}')">
				<div class="box_content">
					<h3 class="title">
					{{ content|safe }}
					</h3>


          <center>
        <h3>
            <i class="fe fe-wifi" aria-hidden="true"></i>Kết nối thành công
          </h3>
          </center>

					<div id="wftimer">
						<div><p>Please Wait <span>5</span> seconds</p></div>
					</div>
				</div>
			</div>
		</div>
	</div>
     {% else %}
     	<div class="container">
		<!-- header -->
		<div class="row">
			<div class="col-md-8 col-lg-6 mg-auto">
				<div class="box_circle">

					<div class="box_circle_image">
							<img src="images/cake-birth-day.png" alt="">
					</div>
					<div class="box_text">
						<h3 class="title">Chúc mừng sinh nhật!</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- end header -->

		<!-- middle -->
		<div class="row">
			<div class="col-md-8 mg-auto">
				<div class="box_desc">
				 {% if content %}
             <h3 class="title">
                {{ content|safe }}
            </h3>
            {% else %}
              <h3 class="title">
                Chào <strong>{{ user.name }}</strong>,<br> chúc bạn một ngày
           sinh nhật vui vẻ.
            </h4>
            {% endif %}
				</div>
			</div>
		</div>
		<!-- end middle -->

		<!-- footer -->
		<div class="row">
			<div class="col-md-6 col-lg-4 mg-auto">
				<div class="btn_action">

            <center>
                         <h3><i
                class="fe fe-wifi font_size_24" aria-hidden="true"></i>Kết nối thành công</h3>

            </center>

				</div>
			</div>
		</div>
		<!-- end footer -->
	</div>
     {% endif %}


<script src="/static/wifi_portal/js/jquery-3.3.1.min.js"></script>
<script src="/static/wifi_portal/js/bootstrap.min.js"></script>
<script src="/static/wifi_portal/js/jquery.bcSwipe.js"></script>
<script src="/static/wifi_portal/js/styles.js"></script>
<script type="text/javascript"
        src="/static/wifi_portal/js/welcome.js"></script>
<!-- end include js file -->

      <script nonce="{{ csp_nonce() }}">
    jQuery(document).ready(function() {
        {% if card.photo %}
      var sec = 5
      var timer = setInterval(function() {
         $("#wftimer span").text(sec--);
            if (sec == -2) {
            $("#makingdifferenttimer").delay(500).show();
            $("#wftimer").hide(1000).css("display", "none");
          }
        },1000);
        {% endif %}


      });
  </script>

</body>
</html>
