
  <div class="btn_action">
    <div id="check_in_fb">
    <a class="btn btn_bg_blue mg-bt-10
        white_text" id="check_in_fb_btn">
          <i class="fa fa-facebook font_size_24"
             aria-hidden="true"></i><span>Check-in & Kết nối</span>
      </a>

    </div>
  </div>
  <div class="btn_action">
      <a id="auth_target" class="btn btn btn_bg_green mg-bt-10 white_text">
            <i class="fe fe-wifi font_size_24" aria-hidden="true"></i>
            <span>Kết nối Wi-Fi/Go Online</span>
          </a>
    </div>
