<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<!-- include css file -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/styles.css">
	<!-- end include css file -->
</head>
<body class="wifi_app_connect blur_bg">

	<div class="container">
		<!-- header -->
		<div class="row">
			<div class="col-md-8 col-lg-6 mg-auto">
				<div class="wc_box_content">
					<div class="box_image">
						<img src="images/wifi_icon.svg" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- end header -->
		
		<!-- middle -->
		<div class="row">
			<div class="col-md-8 col-lg-4 mg-auto pd-rl-24">
				<div class="box_text_intro">
					<h3>Almost there. Complete your profile</br> to connect our WI-FI.</h3>
				</div>
				<div class="form">
					<form action="#">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
						<div class="form_control">
							<input type="text"  placeholder="Your name">
							<input type="text"  placeholder="Your email">
						</div>
						<div class="form_action">
							<button type="submit" value="Connect">Connect</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- end middle -->
	</div>
	
	<!-- copyright -->
		<div class="policy_text">
			<p class="content">You agree to Nextify’s Tems and Privacy Policy.</p>
		</div>
	<!-- end copyright -->

	<!-- include js file -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/styles.js"></script>
	<!-- end include js file -->
</body>
</html>