{% extends "v2/base.html" %} {% block right_content %}

    <div class="row">

        <div class="col-md-12">
       <div class="panel panel-white">
        <div class="panel-heading clearfix">
                    <a href="/account/add">
                        <button class="btn btn-info btn-fill pull-right">Thêm mới</button>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                    <div class="table-responsive">

                    <table class="table">
                                    <thead>
                                    <th>Tên tài khoản</th>
                                    <th>Email</th>
                                    <th>Quyền</th>
                                    <th>Cập nhật</th>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        {% if user.phone != '0902185580' and user.phone|length > 0 %}
                                            <tr>
                                                <td><a href="/account/{{ user.phone }}">{{ user.phone }}</a></td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.role_name }}</td>
                                                <td> {{ user.update_str }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                   <h3>Black list</h3>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content">



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
     <script nonce="{{ csp_nonce() }}">
        $(document).ready(function () {
            $('#settings').click();
        });

    </script>

{% endblock %}
