{% extends "v2/base.html" %}
{% block right_content %}

    <div class="row">
        <div class="panel-heading pull-right">
            <div class="col-md-12">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <input id="reportrange" style="background: #20aa9c;
            color:#ffffff;width:200px"
                           name="reportrange" type="text"
                           placeholder="" class="form-control form-input">
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <button type="button" id="view_data" class="btn btn-primary
             btn-addon m-b-sm">Xem
                    </button>
                </div>
                <input type="hidden" value="" id="minDate"/>
                <input type="hidden" value="" id="maxDate"/>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Khách hàng</h3>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                        <a id="customer_report_expand"
                           title="Tuỳ chỉnh"><i
                                class="icon-size-fullscreen"></i></a>

                    </div>
                </div>
                <div class="panel-body" style="zoom: 1;">
                    <div id="chart_board">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Khách hàng tiêu biểu</h3>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="top_customers"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Tổng quan theo
                        lượt đến
                    </h4>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="weather-widget">
                        <div class="row">

                            <div id="visit_by_count"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title">Tổng quan theo giờ
                    </h3>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-reload"
                           data-original-title="Reload"><i
                                class="icon-reload"></i></a>
                    </div>
                </div>
                <div class="panel-body statement-card">
                    <div id="visit_hour_report"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Địa điểm
                    </h4>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="locations_report"></div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Giới tính
                    </h4>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="gender_reports"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Thiết bị
                    </h4>
                    <div class="panel-control">
                        <a href="javascript:void(0);" data-toggle="tooltip"
                           data-placement="top" title="" class="panel-collapse"
                           data-original-title="Expand/Collapse"><i
                                class="icon-arrow-down"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="devices"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="modal fade bs-example-modal-lg" id="customers_report_modal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body" id="customers_report_content"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='v2/assets/js/customers_reports.js') }}"></script>
{% endblock %}
