{% extends "nextify/base.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css"/>

<style>
    .field-icon {
        float: right;
        margin-right: 10px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
        }
</style>
<body>
    <div class="col-12 col-xl-4" style="margin:auto; margin-top: 100px;">
        <div class="card">
            <div class="card-body">
                <div class="c-card__header u-text-center u-pt-large">
                    <div class="row u-justify-center">
                        <div class="col-12">
                            <h1 class="u-h3">{{ gettext('Ban_quen_nhap_mat_khau?') }}</h1>
                            
                        </div>
                    </div>
                   
                    <form method="POST" id="sign_in_form" class="c-card__body">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        {% if error %}

                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{error}}!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        {% endif %}

                        <!-- Email address -->
                        <div class="form-group">

                            <!-- Label -->
                            <label> {{ gettext('Nhap_so_dien_thoai_ban_da_dang_ky:') }} <font color="red">*</font></label>

                            <!-- Input -->
                            <input type="text" name="phone" class="form-control" id='phone'
                                value="{{ phone }}">

                        </div>
                        <!-- captcha -->
                        <div clas="form-group">
                            <label>Vui lòng nhập captcha <font color="red">*</font></label>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" name="captcha">
                                    <span toggle="#password-field" class="fa fa-fw fa-refresh field-icon toggle-captcha"></span>
                                </div>
                                <div class="col-auto">
                                    {{ captcha() }}
                                </div>
                            </div>


                        </div>
                        <!-- Submit -->
                        <button class="btn btn-lg btn-block btn-primary mb-3" id="sign_in_btn">
                            {{ gettext('Gui_ma_xac_nhan') }}
                        </button>

                    </form>
                </div>
            </div>
        </div>
</body>
<script nonce="{{ csp_nonce() }}">
    $(document).ready(function () {
        var ex_phone = localStorage.getItem("ex_phone");
        document.forms['sign_in_form']['phone'].value = ex_phone;
        $(".toggle-captcha").click(function() {
            var phone = $('#phone').val();
            localStorage.setItem("ex_phone", phone)
            $(".toggle-captcha").addClass("fa-spin")
            window.location.reload();
            return false;
        });
    });
</script>
{% endblock body %}