{% extends "nextify/base.html" %}
{% block body %}
<meta charset="utf-8">

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="col-12 col-xl-4" style="margin:auto; margin-top: 100px;">
        <div class="card">
            <div class="card-header">
                <header class="c-card__header u-text-center u-pt-large">
                    <div class="row u-justify-center">
                        <div class="col-12">
                            <h1>{{ gettext('Cai_dat_lai_mat_khau') }}</h1>
                        </div>
                    </div>
                </header>

            </div>


            <div class="card-body">
                <div class="row align-items-center">
                    <div class="">
                        <!-- Form -->
                        <form id="sign_in_form" action="/confirm_reset_email/{{ token }}" method="post">
                            <input type="hidden" name="merchant_id" value="{{ merchant_id }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {% if error %}

                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{error}}!!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                            <!-- Email address -->
                            <div class="form-group">

                                <!-- Label -->
                                <label> {{
                                    gettext('Mat_khau_moi:_(nhieu_hon_8_ky_tu,_bao_gom_chu_hoa,_chu_thuong,_ky_tu_va_so)')
                                    }}</label>

                                <!-- Input -->
                                <input type="password" name="password" class="form-control">

                            </div>
                            <div class="form-group">

                                <!-- Label -->
                                <label> {{ gettext('Nhap_lai:') }} </label>

                                <!-- Input -->
                                <input type="password" name="confirm_password" class="form-control">

                            </div>
                            <!-- recaptcha -->
                            <div clas="form-group">
                                <label>Vui lòng nhập captcha</label>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" name="captcha">
                                    </div>
                                    <div class="col-auto">
                                        {{ captcha() }}
                                    </div>
                                </div>
            
            
                            </div>


                            <button class="btn btn-danger" type="submit">{{
                                gettext('Cap_nhat_mat_khau_moi') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock body %}