{% extends "nextify/base.html" %}
{% block body %}
<!-- file macro -->
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="col-12 col-xl-4" style="margin:auto; margin-top: 100px;">
        <div class="card">
            <header class="card-body">
                <div class="row">
                    <div class="col-12">
                        {% if text == None %}
                        <h1>{{ gettext("Hay_kiem_tra_email_cua_ban") }}</h1>
                        <p>
                            {{ gettext("Mot_email_xac_nhan_da_duoc_gui_ve:") }}
                                 {{merchant_email}}
                        {% elif text ==  "True"%}
                        <h1>{{ gettext("Hay_kiem_tra_tin_nhan_cua_ban") }}</h1>
                        <p>
                            {{ gettext("Mat_khau_moi_da_duoc_gui_ve_so:") }}
                                {{merchant_email}}
                        {% else %}
                        <h1 class="u-h3">ERROR!</h1>
                        <p class="u-h6 u-text-mute">
                           {{ text }}
                        {% endif %}
                        </p>
                    </div>
                </div>
            </header>
        </div>
    </div>

</body>
{% endblock body %}