{% extends "nextify/base.html" %}
{% block body %}
<!-- Libs CSS -->
<link rel="stylesheet" href="/static/nextify/css/feather/feather.min.css">
<link rel="stylesheet" href="/static/nextify/css/dash_kit_theme.min.css" id="stylesheetLight">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" />

<style>
    .field-icon {
        float: right;
        margin-right: 10px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .change-color:hover {
        color: red;
    }
</style>

<body>
    <div class="col-12 col-xl-4" style="margin:auto; margin-top: 100px;">
        <div class="card">
            <div class="card-body">
                <div class="c-card__header u-text-center u-pt-large">
                    <div class="row u-justify-center">
                        <div class="col-12">
                            <h1 class="u-h3">{{ gettext('Ban_quen_nhap_mat_khau?') }}</h1>
                            <p class="u-h6 u-text-mute">
                                {{ gettext('Nhap_email_da_dang_ky_de_nhan_huong_dan_cap_nhat_mat_khau') }}
                            </p>
                        </div>
                    </div>

                    <form method="POST" id="sign_in_form" class="c-card__body">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        {% if error %}

                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
                            {{error}}!!
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        {% endif %}

                        <!-- Email address -->
                        <div class="form-group">

                            <!-- Label -->
                            <label> {{ gettext('Nhap_email_ban_de_dang_ky:') }} <font color="red">*</font></label>

                            <!-- Input -->
                            <input type="text" name="email" class="form-control" placeholder="name@address.com"
                                value="{{ email }}">

                        </div>
                        <!-- captcha -->
                        <div clas="form-group">
                            <label>Vui lòng nhập captcha: <font color="red">*</font></label>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" name="captcha" id="captcha">
                                    <span toggle="#password-field"
                                        class="fa fa-fw fa-refresh field-icon toggle-captcha"></span>
                                </div>
                                <div class="col-auto">
                                    {{ captcha() }}
                                </div>
                            </div>


                        </div>
                        <!-- Submit -->
                        <button class="btn btn-lg btn-block btn-primary mb-3" id="sign_in_btn">
                            {{ gettext('Gui_ma_xac_nhan') }}
                        </button>

                    </form>
                </div>
            </div>
        </div>
        <script nonce="{{ csp_nonce() }}">
            $(document).ready(function () {
                $(".toggle-captcha").click(function () {
                    var phone = $('#phone').val();
                    var password = $('#password-field').val();
                    localStorage.setItem("ex_phone", phone)
                    localStorage.setItem("ex_password", password)
                    $(".toggle-captcha").addClass("fa-spin")
                    window.location.reload();
                    return false;
                });
                $("#captcha").click(function () {
                    $("#alert").hide();
                });
            });
        </script>
</body>
{% endblock body %}