{% extends "nextify/base.html" %}
{% block body %}

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="col-12 col-xl-4" style="margin:auto; margin-top: 100px;">
        <div class="card">
            <div class="card-body">
                <div class="c-card__header u-text-center u-pt-large">
                    <div class="row u-justify-center">
                        <div class="col-12">
                            <h1>{{ gettext("Mat_khau_cua_ban_da_duoc_thay_doi") }}</h1>
                            <p>
                                {{ gettext("Ban_co_the_dang_nhap_ngay_bay_gio.") }}
                            </p>
                        </div>
                        <a class="btn btn-danger" href="/login">{{ gettext("Quay_ve_trang_dang_nhap") }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
{% endblock body %}