<table class="table table-hover table-striped">
                        <thead>
                        <th>Giờ đến</th>
                        <th>Ngày đến</th>
                        <th>Cách đây</th>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                        <tr>
                            <td>{{log.time_hour}}</td>
                        <td>{{log.time_day}}</td>
                        <td>{{log.time_ago}}</td>
                        </tr>
                         {% endfor %}
                         </tbody>
                    </table>
<input type="hidden" id="logs_page" value="{{page}}"/>
<input type="hidden" id="logs_total_page" value="{{total_page}}"/>
