<div class="panel-header-stats">
  <div class="row">
    <div class="col-md-2 col-xs-12" style="text-align: center">
      <p class="lead">Tổng</p>
      <p style="font-size: 25px;"><b>{{ total }}</b></p>
    </div>
    <div class="col-md-2 col-xs-12" style="text-align: center">
      <p class="lead">Chăm sóc</p>
      <p style="font-size: 25px;"><b>{{ care_camp }}</b></p>
    </div>
    <div class="col-md-2 col-xs-12" style="text-align: center">
      <p class="lead">Quảng Cáo</p>
      <p style="font-size: 25px;"><b>{{ spam_camp }}</b></p>
    </div>
    <div class="col-md-2 col-xs-12" style="text-align: center">
      <p class="lead">SMS</p>
      <p style="font-size: 25px;"><b>{{ sms_camp }}</b></p>
    </div>
    <div class="col-md-2 col-xs-12" style="text-align: center">
      <p class="lead">Zalo</p>
      <p style="font-size: 25px;"><b>{{ zalo_camp }}</b></p>
    </div>
    <div class="col-md-2 col-xs-12" style="text-align: center">
      <p class="lead">Push</p>
      <p style="font-size: 25px;"><b>{{ push_camp }}</b></p>
    </div>
  </div>
</div>
<div>
            {% line_chart campaign_serrie_data with id='chart-campaign_serrie_data' %}
</div>
