
    <div class="row justify-content-center">
        <div class="col-12">

            <div class="row mb-5 align-items-center justify-content-between">
                <div class="col text-center">
                    <!-- Pretitle -->
                  
                    <!-- Title -->
                    <h1 class="header-title">
                        Chúc mừng sinh nhật
                    </h1>
                </div>
    
              
            </div>

            
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Khách hàng mới
                    </h4>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
               

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-success">
                                            Bước 1
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Mời khách hàng đăng ký thành viên thân thiết với số điện thoại và sinh nhật.
                                    </p>

                                </div>
                            </div>

                        </div>
                        <div class="col-4">
                

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-primary">
                                            Bước 2
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Nhắc quyền lợi của thành viên và mã khuyến mãi nếu có.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                  

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-danger">
                                            Bước 3
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện fanpage của địa điểm sau khi kết nối thành công
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Khách hàng quay lại
                    </h4>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
       

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-success">
                                            Bước 1
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện hình ảnh chào mừng và lời chào khách quay lại, đếm ngược 5 giây.
                                    </p>

                                </div>
                            </div>

                        </div>
                        
                        <div class="col-4">
       
                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-danger">
                                            Bước 2
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện fanpage của địa điểm sau khi kết nối thành công.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Khách hàng quay lại vào ngày sinh nhật
                    </h4>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
 

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-success">
                                            Bước 1
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện hình ảnh chúc mừng sinh nhật, đếm ngược 5s.
                                    </p>

                                </div>
                            </div>

                        </div>
                        <div class="col-4">
      
                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-primary">
                                            Bước 2
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện mã khuyến mãi cho sinh nhật khách hàng, nếu có.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-4">


                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-danger">
                                            Bước 3
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện fanpage của địa điểm sau khi kết nối thành công.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Khách hàng quay lại lần 3
                    </h4>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
       
                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-success">
                                            Bước 1
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Xin ý kiến đánh giá về chất lượng dịch vụ của địa điểm.
                                    </p>

                                </div>
                            </div>

                        </div>
                       
                        <div class="col-4">
    

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-danger">
                                            Bước 3
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện fanpage của địa điểm sau khi kết nối thành công.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

  

            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        Khách hàng quay lại lần 5
                    </h4>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
 

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-success">
                                            Bước 1
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Mời khách hàng bổ sung ngày sinh nhật và giới tính.
                                    </p>

                                </div>
                            </div>

                        </div>
                    
                        <div class="col-4">
       

                            <div class="card card-sm mb-3">
                                <div class="card-body">

                                    <!-- Badge -->
                                    <p class="mb-3">
                                        <span class="badge badge-soft-danger">
                                            Bước 2
                                        </span>
                                    </p>

                                    <!-- Body -->
                                    <p class="mb-0">
                                        Hiện fanpage của địa điểm sau khi kết nối thành công.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
