<input type="hidden" value="{{ page_id }}" id="page_id" />
<input type="hidden" value="{{ shop_id_select }}" id="shop_id_select" />
<div class="row justify-content-center">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <form method="POST" action="/new_connect_success_settings/{{ shop_id_select}}" enctype="multipart/form-data" id="form_new_image">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
                <div class="card-body">
                    <div class="form-group">
                        <label for="hotspot_method">{{ gettext('Hinh_thuc_hotspot') }}</label>
                        <select class="form-control" id="hotspot_method" name="hotspot_method">
                            <option value="default" {% if connect_success.hotspot_method=='default' %}selected{% endif %}>{{ gettext('Mac_dinh') }}</option>
                            <option value="profile_code" {% if connect_success.hotspot_method=='profile_code' %}selected{% endif %}>Profile code</option>
                        </select>
                    </div>
                    <input type="hidden" id="ex_hotspot_method" name="ex_hotspot_method" value="{{ connect_success.hotspot_method }}" />
                    <div id="default_code_div" class="form-group">
                        <label>{{ gettext('Ma_mac_dinh') }}</label><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{ gettext('Ma_truy_cap_wifi_mac_dinh') }}"
                        >
                        <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question"></i></button>
                        
                    </span>
                        </span>
                        <input type="text" class="form-control method-form-control" id="default_code" name="default_code" {% if connect_success.default_code %} value="{{ connect_success.default_code }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="content">{{ gettext('Noi_dung_chao_mung:') }}</label>
                        <textarea class="form-control" id="content" name="content" rows="2">
                            {% if connect_success.content and connect_success.content|length > 1 %}
                                      {{ connect_success.content }}
                                  {% else %}
                                     {{ gettext("Ket_noi_thanh_cong") }}
                                  {% endif %}
                            </textarea>
                    </div>
                    <div class="form-group">
                        <label for="connect_button">{{ gettext('Nut_ket_noi_WIFI:') }}</label>
                        <textarea class="form-control" id="connect_button" name="connect_button" rows="2">
                                  {% if connect_success.connect_button and connect_success.connect_button|length > 1 %}
                                      {{ connect_success.connect_button }}
                                  {% else %}
                                     {{ gettext('Ket_noi_Wi-Fi/Go_Online') }}
                                  {% endif %}
                            </textarea>
                    </div>
                    <div class="form-group">
                        <label for="auto_popup">{{ gettext('Chuyen_huong_sau_khi_dang_nhap:') }}</label>
                        <input type="text" class="form-control" id="auto_popup" name="auto_popup" value="{% if connect_success.auto_popup|string != 'None' %}{{ connect_success.auto_popup }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="display_coupon" name="display_coupon" {% if connect_success.display_coupon %}checked{% endif %}>
                          <label class="custom-control-label" for="display_coupon">{{ gettext('Hien_coupon_moi_nhat_cua_khach_hang:') }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="display_coupon">{{ gettext('Thong_bao_ma_khuyen_mai:') }}</label>
                        <textarea class="form-control" name="display_coupon_txt">{% if connect_success.display_coupon_txt and  connect_success.display_coupon_txt|length > 0 %}{{ connect_success.display_coupon_txt }}{% endif %}</textarea>
                    </div>
                </div>
            </form>
                <div class="card-footer">
                    <div class="col-3" style="float:right">
                    <button id="connect_success_btn" class="btn btn-lg btn-block btn-primary">
                        {{ gettext('HotspotHappyBirthdayScreenUpdateText') }}
                    </button>
                    </div>
                </div>
            
        </div>
    </div>
</div>

{% block js %}
<script nonce="{{ csp_nonce() }}">
$(document).ready(function() {

    ex_hotspot_method = $('#ex_hotspot_method').val();
    if (ex_hotspot_method === 'profile_code') {
        $("#default_code_div").hide();
    } else {
        $("#default_code_div").show();
    };
    $('#hotspot_method').on('change', function(e) {
        method = $(this).val();
        if (method === 'profile_code') {
            $("#default_code_div").hide();
        } else {
            $("#default_code_div").show();
        }
    });

    $('textarea').each(function() {
        $(this).val($(this).val().trim());
    });
    $('input').each(function() {
        $(this).val($(this).val().trim());
    });

    function readURL(input, input_view) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var view_id = '#' + input_view;
            reader.onload = function(e) {
                $(view_id).attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    var shop_id_select = $("#shop_id_select").val();
    var url_preview = '/splash_page/' + shop_id_select + '/preview/connect_success';
    $("#preview").empty();
    bioMp(document.getElementById('preview'), {
        url: url_preview,
        view: 'front',
        image: '/static/images/iphone_simulator/img_preview_mobile.svg',
        height: 618,
        width: 308
    });
    $("#connect_success_btn").click(function(e) {
        var action = $('#form_new_image').attr('action');
        if ($("#auto_popup").val().length == 0){
            swal('{{ gettext("Chuyen_huong_sau_khi_dang_nhap_la_bat_buoc") }}', '', 'error');
            return false;
        }
        $.ajax({
            type: "POST",
            url: action,
            data: $("#form_new_image").serialize(), // serializes the form's elements.
            success: function(data) {
                $.ajax({
                    url: "/hotspot_type/connect_success",
                    type: 'GET',
                    data: {
                        'shop_id_select': shop_id_select
                    },
                    beforeSend: function() {
                        $(".detail-splash").empty();
                    },
                    success: function(data) {

                        $(".detail-splash").append(data);
                    }
                });
            }
        });
        e.preventDefault();
    });
});
</script>
{% endblock %}