<input type="hidden" value="{{ shop_id_select }}" id="shop_id_select" />
<input type="hidden" name="merchant_id" id="merchant_id" value="{{ merchant_id }}" />
<input type="hidden" name="dealer_id" id="dealer_id" value="{{ dealer_id }}" />
<style>
    .text-middle-left {
        display: flex;
        justify-content: left;
        align-items: center;
    }
</style>
<div class="row justify-content-center">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-middle-left">
                        <h6 class="header-pretitle" style="margin-bottom: 0px">
                            {{ gettext('Trang_khao_sat') }}
                        </h6>
                    </div>
                    <!-- <div class="col-auto">
                        <a class="btn btn-flat d-block d-md-inline-block" href="#new_tag_modal" data-toggle="modal">
                            <i class="fe fe-plus"></i> Tạo tag nhanh
                        </a>
                        <input type="hidden" name="status" id="status" value="{{ status }}" />
                    </div> -->
                    <!-- <div class="col-auto">
                        <a data-toggle="modal" href="#new_page_loyal" class="btn btn-flat d-block d-md-inline-block">
                            <i class="fa fa-plus"></i> Thêm mới
                        </a>
                    </div> -->
                </div>
            </div>
            {% if pages|length > 0 %}
            <div class="table-responsive">
                <table class="table table-sm card-table">
                    <thead>
                        <tr>
                            <th>
                                {{ gettext('Cau_hoi') }}
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in pages %}
                        <tr>
                            <td>
                                {{ page.question|cut_name_question }}
                                <i id="name_question_{{ page._id }}" data-toggle="tooltip" data-placement="right">...</i>
                                <script nonce="{{ csp_nonce() }}">
                                    $(document).ready(function () {
                                        $("#name_question_{{ page._id }}").tooltip({
                                            "title": "{{ page.question }}",
                                            "animation": true,

                                        });
                                    });
                                </script>
                            </td>
                            {# <td>
                                <input class="form-control"
                                    value="{%if page.bitly_url and page.bitly_url|length > 0%}
                                        {{ page.bitly_url.url }}
                                    {%else%}
                                        {{ request.host_url}}survey/{{ shop_select._id }}/{{page._id}}
                                    {%endif%}"
                                    readonly>
                            </td> #}
                            <td>
                                <a href="#view_{{ page._id }}" data-toggle="modal">
                                    <i class="fa fa-mobile"></i> {{ gettext('Xem_truoc') }}
                                </a>
                                <div class="modal hide fade" id="view_{{ page._id }}" tabindex="-1" role="dialog" aria-labelledby="new_image" data-backdrop="static" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title">{{ gettext('Xem_truoc') }}</h3>
                                                <a class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </a>
                                            </div>
                                            <div class="modal-body" style="margin: auto">
                                                <div id="preview_{{ page._id }}"></div>
                                                <script nonce="{{ csp_nonce() }}">
                                                    $(document).ready(function () {
                                                        var url_preview = '/wifi/{{ shop_id_select }}' + '/survey/' + '{{ page._id }}/preview';
                                                        $("#preview_{{ page._id }}").empty();
                                                        bioMp(document.getElementById('preview_{{ page._id }}'), {
                                                            url: url_preview,
                                                            view: 'front',
                                                            image: '/static/images/iphone_simulator/img_preview_mobile.svg',
                                                            height:618,
                                                            width: 308
                                                          });
                                                      });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a id="remove_{{ page._id }}" style="color: #5387e5;">
                                    <i class="fa fa-remove"></i> {{ gettext("Xoa") }}</a>
                                <script nonce="{{ csp_nonce() }}">
                                    $(document).ready(function () {
                                        $('#remove_{{ page._id }}').click(function () {
                                            var url = '/{{ shop_id_select }}/survey/{{ page._id }}/remove';
                                            var step = '{{ step }}';
                                            $.ajax({
                                                type: 'GET',
                                                url: url,
                                                data: {
                                                    'step': step
                                                },
                                                success: function () {
                                                    $.ajax({
                                                        url: "/hotspot_type/survey",
                                                        type: 'GET',
                                                        data: {
                                                            'shop_id_select': '{{ shop_id_select }}'
                                                        },
                                                        beforeSend: function () {
                                                            $(".detail-splash").empty();
                                                        },
                                                        success: function (data) {
                                                            $(".detail-splash").append(data);
                                                        }
                                                    });
                                                }
                                            });
                                        });
                                    });
                                </script>
                            </td>
                            <td>

                                {% if page.choosed %}
                                <a id="choose_{{ page._id }}" style="color: #5387e5;">
                                    <span class="fa fa-check"> {{ gettext('Da_chon') }}</span>
                                </a>
                                {% else %}
                                <a id="choose_{{ page._id }}" style="color: #5387e5;">
                                    <i class="fa fa-mouse-pointer"></i> {{ gettext('Chon') }}
                                </a>
                                {% endif %}


                                <script nonce="{{ csp_nonce() }}">
                                    $(document).ready(function () {
                                        $('#choose_{{ page._id }}').click(function () {
                                            var url = '/{{ shop_id_select }}/survey/{{ page._id }}/choose';
                                            var step = '{{ step }}';
                                            $.ajax({
                                                type: 'GET',
                                                url: url,
                                                data: {
                                                    'step': step
                                                },
                                                success: function (response) {
                                                    var returnedData = JSON.parse(response);
                                                    var result = returnedData.result;
                                                    if (result) {
                                                        var choose_status = returnedData.choose_status;
                                                        $.ajax({
                                                            url: "/hotspot_type/survey",
                                                            type: 'GET',
                                                            data: {
                                                                'step': step,
                                                                'shop_id_select': '{{ shop_id_select }}'
                                                            },
                                                            beforeSend: function () {
                                                                $(".detail-splash").empty();
                                                            },
                                                            success: function (data) {
                                                                $(".detail-splash").append(data);
                                                                if (choose_status) {
                                                                    var url_preview = '/wifi/{{ shop_id_select }}' + '/survey/' + '{{ page._id }}/preview';
                                                                    $("#preview").empty();
                                                                    bioMp(document.getElementById('preview'), {
                                                                        url: url_preview,
                                                                        view: 'front',
                                                                        image: '/static/images/iphone_simulator/img_preview_mobile.svg',
                                                                        height:618,
                                                                        width: 308
                                                                    });
                                                                } else {
                                                                    var url_preview = '/hotspot_type/0?shop_id_select={{ shop_id_select }}';
                                                                    $("#preview").empty();
                                                                    bioMp(document.getElementById('preview'), {
                                                                        url: url_preview,
                                                                        view: 'front',
                                                                        image: '/static/images/iphone_simulator/img_preview_mobile.svg',
                                                                        height: 618,
                                                                        width: 308
                                                                    });
                                                                };
                                                            }
                                                        });
                                                    } else {
                                                        swal('{{ gettext("Ban_phai_kich_hoat_trang_chao_truoc!") }}', '', 'error');
                                                    }
                                                }
                                            });
                                        });
                                    });
                                </script>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="card-body">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-8 justify-content-center" style="text-align: center;margin-bottom: 30px; margin-top: 30px">
            <!-- Title -->
            <h2>
                {{ gettext('Ban_chua_tao_trang_khao_sat._Vui_long_them_moi.') }}
            </h2>
            <a href="/mini_game/{{ shop_id_select }}/add" class="btn btn-flat d-block d-md-inline-block">
                <i class="fa fa-plus"></i> {{ gettext('Them_moi.') }}
            </a>
        </div>
    </div>
</div>
{% endif %}

{% block js %}
<script nonce="{{ csp_nonce() }}">
$(document).ready(function() {
    // $('#hotspot_method').select2();
    // $('#hotspot_method').on('change.select2', function(e) {
    //     method = $(this).val();
    //     if (method === 'profile_code') {
    //         $("#default_code_div").hide();
    //     } else {
    //         $("#default_code_div").show();
    //     }
    // });
    $.fn.modal.Constructor.prototype.enforceFocus = function() {};
    $("#new_tag_btn").click(function() {
        var name = $("#name").val();
        var desc = $("#desc").val();

        if (name.length == 0) {
            swal("{{ gettext('Ten_Tag_khong_duoc_de_trong') }}", " ", "error");
            return false;

        }
        if (desc.length == 0) {
            swal("{{ gettext('Mo_ta_khong_duoc_de_trong') }}", " ", "error");
            return false;

        }
        $.ajax({
            url: '/test_ajax_create_tag',
            type: $("#new_tag_fr").attr("method"),
            data: $("#new_tag_fr").serialize(),

            success: function(response) {
                var returnedData = JSON.parse(response);
                if ('error' in returnedData) {

                    swal(returnedData['error'], " ", "error");
                } else {
                    $("#new_tags_selects").select2({
                        'data': returnedData
                    });
                    $('#new_tag_modal').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $.ajax({
                        url: "/hotspot_type/survey",
                        type: 'GET',
                        data: {
                            'shop_id_select': '{{ shop_id_select }}'
                        },
                        beforeSend: function() {
                            $(".detail-splash").empty();
                        },
                        success: function(data) {
                            $(".detail-splash").append(data);
                        }
                    });
                }
            },
            error: function(xhr, desc, err) {
                swal("{{ gettext('Co_loi_xay_ra,_thu_lai_sau') }}", " ", "error");


            }
        })
    });

    $("#deactive_splash").click(function() {
        swal("{{ gettext('Thao_tac_thanh_cong') }}", '', 'success');
    });
    $('textarea').each(function() {
        $(this).val($(this).val().trim());
    });
    $('input').each(function() {
        $(this).val($(this).val().trim());
    });
    var shop_id_select = $("#shop_id_select").val();
    
    var page_id = '{{ choosed_this_step }}';
    if (page_id && page_id != 'None') {
        var url_preview = '/wifi/{{ shop_id_select }}' + '/survey/' + page_id + '/preview';
        $("#preview").empty();
        bioMp(document.getElementById('preview'), {
            url: url_preview,
            view: 'front',
            image: '/static/images/iphone_simulator/img_preview_mobile.svg',
            height: 618,
            width: 308
        });
    } else {
        var url_preview = '/hotspot_type/0?shop_id_select={{ shop_id_select }}';
        $("#preview").empty();
        bioMp(document.getElementById('preview'), {
            url: url_preview,
            view: 'front',
            image: '/static/images/iphone_simulator/img_preview_mobile.svg',
            height: 618,
            width: 308
        });
    };
});
</script>
{% endblock %}