{% extends 'nextify/base.html' %}

{% block main_content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">

      <div class="header">
        <div class="container-fluid">
          <div class="header-body">
            <div class="row align-items-end">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  {{ gettext("Cau_hinh_trang_chao") }}
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Kịch bản mẫu
                </h1>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>


      <div class="container-fluid">


        <div class="row">
          <div class="col-6">

            <div class="card">

              <!-- Image -->
              <a href="/{{shop_id_select}}/wifi_camp/templates/segment">
                <img class="card-img-top" src="/static/images/segment_camp_template.jpg" alt="..." style="height: 300px;">
              </a>

              <!-- Body -->
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                      Phân nhóm khách hàng
                    </h4>


                    <!-- Price -->
                    <small class="text-muted">
                      Kịch bản giúp xây dựng dữ liệu khách hàng và phân nhóm khách hàng theo Tag.
                    </small>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-dark" href="/{{shop_id_select}}/wifi_camp/templates/segment">
                      Chi tiết
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>

            </div>
          </div>
          <div class="col-6">

            <div class="card">

              <!-- Image -->
              <a href="/{{shop_id_select}}/wifi_camp/templates/birthday">
                <img class="card-img-top" src="/static/images/birthday_camp_template.jpg" alt="..." style="height: 300px;">
              </a>

              <!-- Body -->
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                      Happy Birthday
                    </h4>


                    <!-- Price -->
                    <small class="text-muted">
                      Kịch bản giúp thu thập sinh nhật khách hàng và chúc mừng sinh nhật khách hàng khi đến địa điểm.
                    </small>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-dark" href="">
                      Chi tiết
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-6">

            <div class="card">

              <!-- Image -->
              <a href="/{{shop_id_select}}/wifi_camp/templates/visit">
                <img class="card-img-top" src="/static/images/visit_camp_template.jpg" alt="..." style="height: 300px;">
              </a>

              <!-- Body -->
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                      Lượt đến
                    </h4>


                    <!-- Price -->
                    <small class="text-muted">
                      Kịch bản giúp chăm sóc khách hàng thân thiết theo lượt đến.
                    </small>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-dark" href="">
                      Chi tiết
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>

            </div>
          </div>
          <div class="col-6">

            <div class="card">

              <!-- Image -->
              <a href="/{{shop_id_select}}/wifi_camp/templates/days">
                <img class="card-img-top" src="/static/images/day_week_camp.jpg" alt="..." style="height: 300px;">
              </a>

              <!-- Body -->
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                      Ngày trong tuần
                    </h4>


                    <!-- Price -->
                    <small class="text-muted">
                      Kịch bản giúp chăm sóc khách hàng và giới thiệu sản phẩm mới theo ngày trong tuần.
                    </small>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-dark" href="https://themes.getbootstrap.com/preview/?theme_id=23273">
                      Chi tiết
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-6">

            <div class="card">

              <!-- Image -->
              <a href="/{{shop_id_select}}/wifi_camp/templates/happy_day">
                <img class="card-img-top" src="/static/images/happy_day_camp.jpg" alt="..." style="height: 300px;">
              </a>

              <!-- Body -->
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                      Happy Day
                    </h4>


                    <!-- Price -->
                    <small class="text-muted">
                      Kịch bản chăm sóc khách hàng dựa trên ngày thành viên (Member Days).
                    </small>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-dark" href="">
                      Chi tiết
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>

            </div>
          </div>
          <div class="col-6">

            <div class="card">

              <!-- Image -->
              <a href="/{{shop_id_select}}/wifi_camp/templates/happy_hour">
                <img class="card-img-top" src="/static/images/happy_hour_camp.jpg" alt="..." style="height: 300px;">
              </a>

              <!-- Body -->
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h4 class="mb-1">
                      Happy Hour
                    </h4>


                    <!-- Price -->
                    <small class="text-muted">
                      Kịch bản chăm sóc khách hàng dựa trên giờ thành viên (Member Hours).
                    </small>

                  </div>
                  <div class="col-auto">

                    <!-- Button -->
                    <a class="btn btn-sm btn-dark" href="">
                      Chi tiết
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div>

            </div>
          </div>

        </div>



      </div>



    </div>


  </div>


</div>



</div>




{% endblock %}